<h2 class="titulo">Usuarios</h2>

<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>

<!-- <p-dialog header="Usuario añadido al sistema" [(visible)]="display_alert" [width]="453" [height]="120" [modal]="true">

</p-dialog> -->

<p-dialog header="Usuarios" [(visible)]="display_modal"
    styleClass="usuario-dialog"
    [width]="1000" [responsive]="true" [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top': '30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('dni').valid && Formulario.get('dni').touched}">
           <label class="control-label col-md-3 derecha">DNI</label>
          	 <div class="col-md-9">
          		 <div [ngClass]="{'input-icon right': (!Formulario.get('dni').valid && Formulario.get('dni').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('dni').valid && Formulario.get('dni').touched ) }" data-original-title="Escriba el DNI"></i>
          			<input type="text" class="form-control" formControlName='dni' [(ngModel)]="objeto.dni" name='dni' placeholder="Escriba el DNI" id="dni">
          		 </div>
          	 </div>
           </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('ap_paterno').valid && Formulario.get('ap_paterno').touched}">
           <label class="control-label col-md-3 derecha">Ap. Paterno</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('ap_paterno').valid && Formulario.get('ap_paterno').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('ap_paterno').valid && Formulario.get('ap_paterno').touched ) }" data-original-title="Escriba el Apellido Paterno"></i>
          			<input type="text" class="form-control" formControlName='ap_paterno' [(ngModel)]="objeto.ap_paterno" name='ap_paterno' placeholder="Escriba el Apellido Paterno">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('ap_materno').valid && Formulario.get('ap_materno').touched}">
           <label class="control-label col-md-3 derecha">Ap. Materno</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('ap_materno').valid && Formulario.get('ap_materno').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('ap_materno').valid && Formulario.get('ap_materno').touched ) }" data-original-title="Escriba el Apellido Materno"></i>
          			<input type="text" class="form-control" formControlName='ap_materno' [(ngModel)]="objeto.ap_materno" name='ap_materno' placeholder="Escriba el Apellido Materno">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nombres').valid && Formulario.get('nombres').touched}">
           <label class="control-label col-md-3 derecha">Nombres</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('nombres').valid && Formulario.get('nombres').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nombres').valid && Formulario.get('nombres').touched ) }" data-original-title="Escriba los Nombres"></i>
          			<input type="text" class="form-control" formControlName='nombres' [(ngModel)]="objeto.nombres" name='nombres' placeholder="Escriba los Nombres">
              </div>
          		</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('celular').valid && Formulario.get('celular').touched}">
            <label class="control-label col-md-3 derecha">celular</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('celular').valid && Formulario.get('celular').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('celular').valid && Formulario.get('celular').touched ) }" data-original-title="Seleccione celular"></i>
                      <input type="text" class="form-control" formControlName='celular' [(ngModel)]="objeto.celular" name='celular' placeholder="Escriba el celular">
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fijo').valid && Formulario.get('fijo').touched}">
            <label class="control-label col-md-3 derecha">fijo</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('fijo').valid && Formulario.get('fijo').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fijo').valid && Formulario.get('fijo').touched ) }" data-original-title="Seleccione fijo"></i>
                      <input type="text" class="form-control" formControlName='fijo' [(ngModel)]="objeto.fijo" name='fijo' placeholder="Escriba el nro fijo">
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecnac').valid && Formulario.get('fecnac').touched}">
            <label class="control-label col-md-3 derecha">Fec. Nac.</label>
              <div class="col-md-9">
                <div class="col-md-11">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('fecnac').valid && Formulario.get('fecnac').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecnac').valid && Formulario.get('fecnac').touched ) }" data-original-title="Seleccione una fecha"></i>
                    <p-calendar [(ngModel)]="objeto.fecnac" formControlName='fecnac' inputStyleClass="fecha-normal" dateFormat="yy-mm-dd" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1940:2030" [locale]="es"></p-calendar>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('est_civil').valid && Formulario.get('est_civil').touched}">
            <label class="control-label col-md-3 derecha">Est. Civil</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('est_civil').valid && Formulario.get('est_civil').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('est_civil').valid && Formulario.get('est_civil').touched ) }" data-original-title="Seleccione el estado civil"></i>
          			<select name="est_civil" formControlName="est_civil" ngModel="" [(ngModel)]="objeto.est_civil" placeholder="Seleccione el estado civil" class="form-control">
                  <option
                    *ngFor="let item of estado_civil"
                    [value]="item">{{ item }}</option>
                </select>
          		</div>
          	</div>
          </div>

          <div class="form-group row">
            &nbsp;
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('direccion').valid && Formulario.get('direccion').touched}">
           <label class="control-label col-md-3 derecha">Dirección</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('direccion').valid && Formulario.get('direccion').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('direccion').valid && Formulario.get('direccion').touched ) }" data-original-title="Escriba la dirección"></i>
          			<input type="text" class="form-control" formControlName='direccion' [(ngModel)]="objeto.direccion" name='direccion' placeholder="Escriba la dirección">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('ubigeo').valid && Formulario.get('ubigeo').touched}">
           <label class="control-label col-md-3 derecha">Ubigeo</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('ubigeo').valid && Formulario.get('ubigeo').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('ubigeo').valid && Formulario.get('ubigeo').touched ) }" data-original-title="Seleccione el Ubigeo"></i>
          			<!-- <input type="text" class="form-control" formControlName='ubigeo' [(ngModel)]="objeto.ubigeo" name='ubigeo' placeholder="Seleccione el Ubigeo"> -->
                <p-autoComplete
                    [inputStyle]="{'width': '340px', 'height': '33px', 'padding': '5px', 'padding-left': '12px', 'color':'#555555'}"
                    formControlName='distrito'
                    [(ngModel)]="objeto.distrito"
                    [suggestions]="results"
                    placeholder="Escriba el distrito"
                    [minLength]="3"
                    emptyMessage="No hay distritos relacionados"
                    field="ubigeo"
                    (onSelect)="Selected($event)"
                    (completeMethod)="Buscar($event)">
                </p-autoComplete>
                <input type="hidden" class="form-control" formControlName='idubigeo' [(ngModel)]="objeto.idubigeo" name='idubigeo'>
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('email_corp').valid && Formulario.get('email_corp').touched}">
           <label class="control-label col-md-3 derecha">Email Corporativo</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('email_corp').valid && Formulario.get('email_corp').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('email_corp').valid && Formulario.get('email_corp').touched ) }" data-original-title="Escriba el email corporativo"></i>
          			<input type="text" class="form-control" formControlName='email_corp' [(ngModel)]="objeto.email_corp" name='email_corp' placeholder="Escriba el email corporativo">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('contacto_emergencia').valid && Formulario.get('contacto_emergencia').touched}">
           <label class="control-label col-md-3 derecha">Contacto Emergencia</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('contacto_emergencia').valid && Formulario.get('contacto_emergencia').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('contacto_emergencia').valid && Formulario.get('contacto_emergencia').touched ) }" data-original-title="Escriba el contacto de emergencia"></i>
          			<input type="text" class="form-control" formControlName='contacto_emergencia' [(ngModel)]="objeto.contacto_emergencia" name='contacto_emergencia' placeholder="Escriba el contacto de emergencia">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telef_contacto').valid && Formulario.get('telef_contacto').touched}">
           <label class="control-label col-md-3 derecha">Telef. Contacto</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('telef_contacto').valid && Formulario.get('telef_contacto').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telef_contacto').valid && Formulario.get('telef_contacto').touched ) }" data-original-title="Escriba el teléfono de contacto"></i>
          			<input type="text" class="form-control" formControlName='telef_contacto' [(ngModel)]="objeto.telef_contacto" name='telef_contacto' placeholder="Escriba el teléfono de contacto">
          		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('login').valid && Formulario.get('login').touched}">
            <label class="control-label col-md-4 derecha">login</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('login').valid && Formulario.get('login').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('login').valid && Formulario.get('login').touched ) }" data-original-title="Seleccione login"></i>
                    <input type="text" class="form-control" formControlName='login' [(ngModel)]="objeto.login" name='login' placeholder="Escriba el login">
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('idusuario_sede').valid && Formulario.get('idusuario_sede').touched}">
            <label class="control-label col-md-4 derecha">idusuario_sede</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('idusuario_sede').valid && Formulario.get('idusuario_sede').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('idusuario_sede').valid && Formulario.get('idusuario_sede').touched ) }" data-original-title="Seleccione idusuario_sede"></i>
                      <select name="idusuario_sede" formControlName="idusuario_sede" [(ngModel)]="objeto.idusuario_sede" placeholder="Seleccione idusuario_sede" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('idproveedor').valid && Formulario.get('idproveedor').touched}">
            <label class="control-label col-md-4 derecha">idproveedor</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('idproveedor').valid && Formulario.get('idproveedor').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('idproveedor').valid && Formulario.get('idproveedor').touched ) }" data-original-title="Seleccione idproveedor"></i>
                      <select name="idproveedor" formControlName="idproveedor" [(ngModel)]="objeto.idproveedor" placeholder="Seleccione idproveedor" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('idcartera').valid && Formulario.get('idcartera').touched}">
            <label class="control-label col-md-4 derecha">idcartera</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('idcartera').valid && Formulario.get('idcartera').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('idcartera').valid && Formulario.get('idcartera').touched ) }" data-original-title="Seleccione idcartera"></i>
                      <select name="idcartera" formControlName="idcartera" [(ngModel)]="objeto.idcartera" placeholder="Seleccione idcartera" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
            <label class="control-label col-md-4 derecha">proveedor</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione proveedor"></i>
                      <select name="proveedor" formControlName="proveedor" [(ngModel)]="objeto.proveedor" placeholder="Seleccione proveedor" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
            <label class="control-label col-md-4 derecha">cartera</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione cartera"></i>
                      <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione cartera" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fec_ingreso').valid && Formulario.get('fec_ingreso').touched}">
            <label class="control-label col-md-3 derecha">Fec. Ingreso</label>
              <div class="col-md-9">
                <div class="col-md-11">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('fec_ingreso').valid && Formulario.get('fec_ingreso').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fec_ingreso').valid && Formulario.get('fec_ingreso').touched ) }" data-original-title="Seleccione una fecha"></i>
                    <p-calendar [(ngModel)]="objeto.fec_ingreso" formControlName='fec_ingreso' inputStyleClass="fecha-normal" dateFormat="yy-mm-dd" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2000:2017" [locale]="es"></p-calendar>
                  </div>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('perfil').valid && Formulario.get('perfil').touched}">
           <label class="control-label col-md-3 derecha">Perfil</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }" data-original-title="Seleccione el perfil"></i>
          			<!-- <input type="text" class="form-control" formControlName='perfil' [(ngModel)]="objeto.perfil" name='perfil' placeholder="Seleccione el perfil"> -->
                <select name="perfil" formControlName="id_perfil" ngModel [(ngModel)]="objeto.id_perfil" class="form-control">
                  <option
                    *ngFor="let item of perfiles"
                    [selected]="item.id==objeto.id_perfil"
                    [value]="item.id">{{ item.perfil }}</option>
                </select>
          		</div>
          	 </div>
           </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('turno').valid && Formulario.get('turno').touched}">
           <label class="control-label col-md-3 derecha">Turno</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!Formulario.get('turno').valid && Formulario.get('turno').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('turno').valid && Formulario.get('turno').touched ) }" data-original-title="Seleccione el turno"></i>
          			<!-- <input type="text" class="form-control" formControlName='turno' [(ngModel)]="objeto.turno" name='turno' placeholder="Seleccione el turno"> -->
                <select name="turno" formControlName="turno" ngModel="" [(ngModel)]="objeto.turno" class="form-control">
                  <option
                    *ngFor="let item of turnos"
                    [value]="item">{{ item }}</option>
                </select>
          		</div>
          	</div>
          </div>

          <!-- <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('user').valid && Formulario.get('user').touched}">
            <label class="control-label col-md-3 derecha">Username</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('user').valid && Formulario.get('user').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('user').valid && Formulario.get('user').touched ) }" data-original-title="Escriba el user de acceso a sistema"></i>
                  <input type="text" class="form-control" formControlName='user' [(ngModel)]="objeto.user" name='user' placeholder="Escriba el user de acceso a sistema">
                </div>
              </div>
          </div> -->

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
            <label class="control-label col-md-4 derecha">estado</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione estado"></i>
                      <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                        <option [value]="item">{{ item }}</option>
                     </select>
                </div>
              </div>
          </div>
        </div>
  </div>

      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</p-dialog>

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)"
      [(selection)]="selectedRecord"
      resizableColumns="true"
      [rows]="10"
      [paginator]="true"
      [pageLinks]="3"
      [rowsPerPageOptions]="[5,10,20]"
      scrollable="true"
      scrollWidth="100%">
        <p-column [sortable]="true" field="id" header="ID" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="dni" header="DNI" [style]="{'width':'80px'}"></p-column>
        <p-column [sortable]="true" field="ap_paterno" header="Apellido Paterno" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="ap_materno" header="Apellido Materno" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="nombres" header="Nombres" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="celular" header="Celular" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="fijo" header="Fijo" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="fecnac" header="Fecha de Nac" [style]="{'width':'150px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="est_civil" header="Estado Civil" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="direccion" header="Dirección" [style]="{'width':'180px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="ubigeo" header="Ubigeo" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="email_corp" header="Email corporativo" [style]="{'width':'180px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="email_per" header="Email personal" [style]="{'width':'180px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="contacto_emergencia" header="Contacto de emergencia" [style]="{'width':'180px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="telef_contacto" header="Teléfono de Contacto" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="login" header="Login" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="idusuario_sede" header="IdUsuario Sede" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="idproveedor" header="IdProveedor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="idcartera" header="IdCartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="fec_ingreso" header="Fecha de Ingreso" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="perfil" header="Perfil" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column field="id_perfil" header="ID Perfil" [style]="{'width':'0px'}"></p-column>
        <p-column [sortable]="true" field="turno" header="Turno" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <!-- <p-column [sortable]="true" field="distrito" header="Distrito" [style]="{'width':'200px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="user" header="Usuario" [style]="{'width':'120px', 'text-align':'center'}"></p-column> -->
		</p-dataTable>
  </div>
</div>
<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <!-- <button class="btn red-sunglo" icon="fa-plus" (click)="display_modal = true">Crear Tabla</button> -->
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>


<!-- <div>
  <pre>
    {{ Formulario.value | json }}
  </pre>
</div> -->
