<h2 class="titulo">Carga de asignación para validación</h2>

<button type="text" (click)="mostrarDialog()" pButton icon="fa-external-link-square" label="Cargar archivo"></button>

<!-- (change)="fileChange($event)" -->
<p-dialog
    header="Subir archivo para validación"
    [(visible)]="display_modal"
    onHide="cerrarDialog()"
    [width]="600"
    modal="modal"
    [responsive]="true">

    <form [formGroup]="Formulario" novalidate="novalidate">

      <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nombre_asignacion').valid && Formulario.get('nombre_asignacion').touched}">
        <label class="control-label col-md-3 derecha">Nombre de asignación</label>
        <div class="col-md-9">
          <div [ngClass]="{'input-icon right': (!Formulario.get('nombre_asignacion').valid && Formulario.get('nombre_asignacion').touched ) }">
           <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nombre_asignacion').valid && Formulario.get('nombre_asignacion').touched ) }" data-original-title=""></i>
           <input
                 type="text"
                 name="nombre_asignacion"
                 id="nombre_asignacion"
                 class="form-control"
                 formControlName="nombre_asignacion"
                 [(ngModel)]="objeto.nombre_asignacion" >
        </div>
        </div>
     </div>

     <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('archivo').valid && Formulario.get('archivo').touched}">
        <label class="control-label col-md-3 derecha">Archivo (.CSV)</label>
        <div class="col-md-9">
          <div [ngClass]="{'input-icon right': (!Formulario.get('archivo').valid && Formulario.get('archivo').touched ) }">
           <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('archivo').valid && Formulario.get('archivo').touched ) }" data-original-title=""></i>
           <input
                 type="file"
                 placeholder="Subir archivo"
                 accept=".csv"
                 (change)="fileChange($event)"
                 class="form-control"
                 [(ngModel)]="objeto.archivo"
                 formControlName="archivo">
        </div>
        </div>
     </div>

      <input type="button" value="Subir" class="btn btn-danger" (click)="Enviar()">
    </form>
</p-dialog>
<!-- <p-dataTable [value]="cars">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable> -->
