<!-- <div class="note note-info">
    <h4 class="block">Espere un momento</h4>
    <p>Estamos obteniendo la información solicitada</p>
</div> -->
<h2 class="titulo">Perfiles</h2>

<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>

<p-dialog
   header="Crear Perfil"
   [(visible)]="display_modal"
   [width]="650"
   [responsive]="true" (onHide)="changeAccion()"
   [modal]="true"
   [style]="{'margin-top': '30px'}">

  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="true">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.controls['perfil'].valid && Formulario.controls['perfil'].touched}">
             <label class="control-label col-md-3 derecha">Perfil</label>
              <div class="col-md-9">
                 <div [ngClass]="{'input-icon right': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }" data-original-title="Escriba el nombre del perfil"></i>
                     <input type="text" class="form-control" formControlName="perfil" id="perfil" name="perfil" [(ngModel)]="usuario.perfil" placeholder="Escriba el nombre del perfil">
                 </div>
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
           <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</p-dialog>

<div class="row">
  <div class="col-sm-12">
    <p-dataTable #dt
    [value]="Perfiles"
    selectionMode="single"
    (onRowClick)="Edit($event)"
    (onRowDblclick)="Edit($event)"
    [(selection)]="selectedRecord"
    resizableColumns="true"
    [rows]="10"
    [paginator]="true"
    [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,20]"
    scrollable="true"
    [(selection)]="Perfil" 
    [style]="{'width':'300px'}"
    scrollWidth="100%">
        <p-column field="id" header="ID" [style]="{'width':'30px'}"></p-column>
        <p-column field="perfil" header="Perfil" [style]="{'width':'200px'}"></p-column>
        <p-column field="estado" header="Estado" [style]="{'width':'70px'}"></p-column>
    </p-dataTable>

  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
