<p>
  evaluacion works!
</p>
<div class="col-sm-12">

					Datos de Cliente
          <p-dataTable [value]="datos_cliente" [rows]="10" [paginator]="true">
          							<p-column field="dni" header="DNI"></p-column>
          							<p-column field="cliente" header="Cliente"></p-column>
          							<p-column field="direccion" header="Dirección"></p-column>
          							<p-column field="etc" header="Descripción"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          </p-dataTable>
			<hr>

					Datos de la Cuenta
          <p-dataTable [value]="datos_cliente" [rows]="10" [paginator]="true">
                        <p-column field="proveedor" header="Proveedor"></p-column>
                        <p-column field="cartera" header="Cartera"></p-column>
                        <p-column field="producto" header="Producto"></p-column>
                        <p-column field="moneda" header="Moneda"></p-column>
                        <p-column field="deuda" header="Deuda"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
                        <p-column field="etc" header="etc"></p-column>
          </p-dataTable>

					Datos de la Gestión a Evaluar
          <p-dataTable [value]="datos_de_la_gestion_a_evaluar" [rows]="10" [paginator]="true">
          							<p-column field="fecha" header="Fecha"></p-column>
          							<p-column field="hora" header="Hora"></p-column>
          							<p-column field="resultado" header="Resultado"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          							<p-column field="etc" header="etc"></p-column>
          </p-dataTable>

Calificar Criterios de Evaluación
<div class="col-sm-10">
			<div class="form-group row derecha">
						<label for="present" class="col-sm-2 col-form-label">Presentación personal</label>
						<div class="col-sm-2">
							<select name="present" id="present" class="form-control"></select>
						</div>
						<label for="mot_llamad" class="col-sm-1 col-form-label">Motivo de llamada</label>
						<div class="col-sm-2">
							<select name="mot_llamad" id="mot_llamad" class="form-control"></select>
						</div>
			</div>
	</div>

			<div class="row">
				<div class="col-sm-10">
					<div class="form-group row derecha">
						<label for="present_emp" class="col-sm-2 col-form-label">Presenta a la empresa</label>
						<div class="col-sm-2">
							<select name="present_emp" id="present_emp" class="form-control"></select>
						</div>
						<label for="prej_benef" class="col-sm-1 col-form-label">Prejuicios / beneficios</label>
						<div class="col-sm-2">
							<select name="prej_benef" id="prej_benef" class="form-control"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group row derecha">
						<label for="valcli" class="col-sm-2 col-form-label">Validación-Cliente</label>
						<div class="col-sm-2">
							<select name="valcli" id="valcli" class="form-control"></select>
						</div>
						<label for="sit_econ" class="col-sm-1 col-form-label">Situación económica</label>
						<div class="col-sm-2">
							<select name="sit_econ" id="sit_econ" class="form-control"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<div class="form-group row derecha">
						<label for="autoc" class="col-sm-2 col-form-label">Autocontrol</label>
						<div class="col-sm-2">
							<select name="autoc" id="autoc" class="form-control"></select>
						</div>
						<label for="mot_nopag" class="col-sm-1 col-form-label">Motivo de no pago</label>
						<div class="col-sm-2">
							<select name="mot_nopag" id="mot_nopag" class="form-control"></select>
						</div>
					</div>
				</div>
			</div>

		<div class="row">
			<div style="text-align: left">
				<button class="btn btn-primary">Grabar</button>
				<button class="btn btn-primary">Cancelar</button>
				<button class="btn btn-primary">Siguiente</button>
				<button class="btn btn-primary">Regresar</button>
			</div>
		</div>
		<hr>
	</div>
