<h2>Relación Supervisor - Monitor</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
 <p-dialog
       header="Relación Supervisor - Monitor"
       styleClass="tipoE"
       [(visible)]="display_modal"
       [responsive]="true"
       [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
   <div class="row top-30">
     <div class="col-md-12">
       <form [formGroup]="Formulario" novalidate="novalidate">
         <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
         <div class="row">
           <div class="col-md-12">
             <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
              <label class="control-label col-md-4 derecha">Fecha</label>
               <div class="col-md-5">
                 <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                   <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                   <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                 </div>
               </div>
             </div>

             <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('supervisor').valid && Formulario.get('supervisor').touched}">
               <label class="control-label col-md-4 derecha">Supervisor</label>
               <div class="col-md-6">
                 <div [ngClass]="{'input-icon right': (!Formulario.get('supervisor').valid && Formulario.get('supervisor').touched ) }">
                   <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('supervisor').valid && Formulario.get('supervisor').touched ) }" data-original-title="Escriba Supervisor"></i>
                    <input type="text" class="form-control" formControlName='supervisor' [(ngModel)]="objeto.supervisor" name='supervisor' placeholder="Escriba Supervisor">
                 </div>
               </div>
             </div>

             <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('monitor').valid && Formulario.get('monitor').touched}">
               <label class="control-label col-md-4 derecha">Monitor</label>
               <div class="col-md-4">
                 <div [ngClass]="{'input-icon right': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }">
                   <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }" data-original-title="Seleccione Monitor"></i>
                     <select name="monitor" formControlName="monitor" [(ngModel)]="objeto.monitor" placeholder="Seleccione Monitor" class="form-control">
                       <option [value]="item">{{ item }}</option>
                     </select>
                 </div>
               </div>
             </div>

             <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
               <label class="control-label col-md-4 derecha">Estado</label>
               <div class="col-md-4">
                 <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                   <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                     <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                      <option [value]="item">{{ item }}</option>
                     </select>
                 </div>
               </div>
             </div>

           </div>
         </div>
         <div class="row">
           <div class="col-md-12">
             <div style="text-align:right">
               <button type="button" *ngIf="accion == 'crear'"
                       pButton icon="fa-plus"
                       class="btn red-sunglo"
                       style="float:right" (click)="Crear()" label="Crear"></button>

               <button type="button" *ngIf="accion == 'editar'"
                       pButton icon="fa-pencil"
                       class="btn red-sunglo"
                       style="float:right" (click)="Editar()" label="Editar"></button>
             </div>
           </div>
         </div>
       </form>
     </div>
   </div>
 </p-dialog>

 <div class="row">
   <div class="col-md-12">
     <p-dataTable #dt
       [contextMenu]="cm"
       [value]="Tabla"
       selectionMode="single"
       (onRowClick)="Edit($event)"
       (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
       [rows]="10" [paginator]="true"
       [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
       scrollable="true" scrollWidth="100%">
         <p-column [sortable]="true" field="fecha" header="Fecha" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="supervisor" header="Supervisor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="monitor" header="Monitor" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
     </p-dataTable>
   </div>
 </div>

 <div class="row top-30">
   <div class="col-sm-6">
     <div>
       <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
       <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
       <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
     </div>
   </div>
 </div>
 <pre>
{{ Formulario.value | json }}
 </pre>
