<h2 class="titulo">Tipo de dirección</h2>

<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}" sticky="sticky"></p-growl>

<p-dialog header="Tipos de Dirección" [(visible)]="display_modal" [width]="650" [responsive]="true" [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_direccion').valid && Formulario.get('tipo_direccion').touched}">
            <label class="control-label col-md-3 derecha">Tipo Direccion</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_direccion').valid && Formulario.get('tipo_direccion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_direccion').valid && Formulario.get('tipo_direccion').touched ) }" data-original-title="Escriba el nombre del tipo de Direccion"></i>
                <input type="text" class="form-control" formControlName="tipo_direccion" [(ngModel)]="objeto.tipo_direccion" name="tipo_direccion" id="tipo_direccion" placeholder="Escriba el nombre del tipo de Direccion">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" *ngIf="accion == 'crear'"
                  pButton icon="fa-plus"
                  class="btn red-sunglo"
                  [disabled]="!Formulario.valid"
                  style="float:right" (click)="Crear()" label="Crear"></button>

          <button type="button" *ngIf="accion == 'editar'"
                  pButton icon="fa-pencil"
                  class="btn red-sunglo"
                  [disabled]="!Formulario.valid"
                  style="float:right" (click)="Editar()" label="Editar"></button>
        </div>
      </div>


          </form>
        </div>
      </div>
    </p-dialog>
<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="tipo_cartera" class="col-sm-4 col-form-label">Tipo de Dirección</label>
      <div class="col-sm-8">
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group row">
      <label for="estado" class="col-sm-4 col-form-label">Estado</label>
      <div class="col-sm-8">
        <select name="estado" id="estado" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
        [value]="Tabla"
        selectionMode="single"
        (onRowClick)="Edit($event)"
        (onRowDblclick)="Edit($event)"
        [(selection)]="selectedRecord"
        resizableColumns="true"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]"
        scrollable="true"
        scrollWidth="100%">
			  <p-column field="id" header="ID" [style]="{'width':'20px', 'text-align':'center'}"></p-column>
        <p-column field="tipo_direccion" header="Tipo de Dirección" [style]="{'width':'250px', 'text-align':'center'}"></p-column>
        <p-column field="estado" header="Estado" [style]="{'width':'60px', 'text-align':'center'}"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
