<h2>Agregar Relación Criterios de Evaluación - Atributo</h2>
<p-dataTable [value]="agr_rel_crit_eval_atribu" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="atributos" header="Atributos"></p-column>
    <p-column field="criterio_de_evaluación" header="Criterio de Evaluación"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
