<h2>Agregar Relación Supervisor - Monitor</h2>
<p-dataTable [value]="agr_rel_superv_monit" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="supervisor" header="Supervisor"></p-column>
    <p-column field="monitor" header="Monitor"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
