<h2>Perfil de Monitor</h2>
<p-dialog
      header="Perfil de Monitor"
      styleClass="tipoD"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate" #form>
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
          <label class="control-label col--4 derecha">Fecha</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nombre').valid && Formulario.get('nombre').touched}">
            <label class="control-label col-md-4 derecha">Nombre</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('nombre').valid && Formulario.get('nombre').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nombre').valid && Formulario.get('nombre').touched ) }" data-original-title="Seleccione la descripción"></i>
                <input type="text" class="form-control" formControlName='nombre' [(ngModel)]="objeto.nombre" name='nombre' placeholder="Escriba Perfil">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('asignacion_mensual').valid && Formulario.get('asignacion_mensual').touched}">
            <label class="control-label col-md-4 derecha">Asignación Mensual</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('asignacion_mensual').valid && Formulario.get('asignacion_mensual').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('asignacion_mensual').valid && Formulario.get('asignacion_mensual').touched ) }" data-original-title="Seleccione Asignación Mensual"></i>
                <input type="text" class="form-control" formControlName='asignacion_mensual' [(ngModel)]="objeto.asignacion_mensual" name='asignacion_mensual' placeholder="Escriba Asignación Mensual">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('produccion_l_v').valid && Formulario.get('produccion_l_v').touched}">
            <label class="control-label col-md-4 derecha">Producción Lun-Vie</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('produccion_l_v').valid && Formulario.get('produccion_l_v').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('produccion_l_v').valid && Formulario.get('produccion_l_v').touched ) }" data-original-title="Producción Lun-Vie"></i>
                <input type="text" class="form-control" formControlName='produccion_l_v' [(ngModel)]="objeto.produccion_l_v" name='produccion_l_v' placeholder="Producción Lun-Vie">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('produccion_sabado').valid && Formulario.get('produccion_sabado').touched}">
            <label class="control-label col-md-4 derecha">Producción Sabado</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('produccion_sabado').valid && Formulario.get('produccion_sabado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('produccion_sabado').valid && Formulario.get('produccion_sabado').touched ) }" data-original-title="Producción Sabado"></i>
                <input type="text" class="form-control" formControlName='produccion_sabado' [(ngModel)]="objeto.produccion_sabado" name='produccion_sabado' placeholder="Producción Sabado">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('descripcion').valid && Formulario.get('descripcion').touched}">
            <label class="control-label col-md-4 derecha">Descripción</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('descripcion').valid && Formulario.get('descripcion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('descripcion').valid && Formulario.get('descripcion').touched ) }" data-original-title="Seleccione la descripción"></i>
                <input type="text" class="form-control" formControlName='descripcion' [(ngModel)]="objeto.descripcion" name='descripcion' placeholder="Escriba la descripción">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
            <label class="control-label col-md-4 derecha">Estado</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                  <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  </p-dialog>

  <div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [contextMenu]="cm"
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
      [rows]="10" [paginator]="true"
      [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      scrollable="true" scrollWidth="100%">
        <p-column [sortable]="true" field="fecha" header="Fecha" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="nombre" header="Nombre" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="asignacion_mensual" header="Asignación Mensual" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="produccion_l_v" header="Produción Lun-Vie" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="produccion_sabado" header="Producción Sabado" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="descripcion" header="Descripción" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
    </p-dataTable>
  </div>
  </div>
  <div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
  </div>

  <pre>
  {{ form.value | json }}
  </pre>
