<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background: none; position: relative; z-index: 0;">

            </div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix" style="background: white;">
            <div class="login-content">
                <!-- <h1>Kobranzas</h1> -->
                <h1>Sistema de Monitoreo</h1>
                <form class="login-form" novalidate="novalidate" [formGroup]="Login">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Ingrese su nombre de usuario y contraseña</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Usuario" formControlName="user" [(ngModel)]="objeto.user" name="user" required="" aria-required="true"> </div>
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Contraseña" formControlName="password" [(ngModel)]="objeto.password" name="password" required="" aria-required="true">
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="rem-password">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" name="remember" value="1"> Recuérdame
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password">Olvidé mi contraseña</a>
                            </div>
                            <button type="button" class="btn green" (click)="Auth()" [disabled]="!Login.valid">Ingresar</button>
                        </div>
                    </div>
                </form>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" [formGroup]="Reset" style="display: none;" novalidate="novalidate">
                    <h3 class="font-green">¿Olvidó su contraseña?</h3>
                    <p> Ingrese su correo electrónico para resetear su contraseña</p>
                    <div class="form-group">
                        <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" [(ngModel)]="objeto_reset.email" formControlName="email" name="email"> </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn green btn-outline">Atrás</button>
                        <button type="button" class="btn btn-success uppercase pull-right" (click)="Resetear()" [disabled]="!Reset.valid">Resetear</button>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <!-- <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright © Kobsa 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-1 -->
