<h2>Agregar Relación Monitor - Cartera</h2>
<p-dataTable [value]="agr_rel_monit_cart" [rows]="10" [paginator]="true">
  <p-column field="fecha" header="Fecha"></p-column>
  <p-column field="monitor" header="Monitor"></p-column>
  <p-column field="tipo_de_cartera" header="Tipo de Cartera"></p-column>
  <p-column field="proveedor" header="Proveedor"></p-column>
  <p-column field="cartera" header="Cartera"></p-column>
  <p-column field="antiguo" header="Antiguo"></p-column>
  <p-column field="nuevo" header="Nuevo"></p-column>
  <p-column field="transito" header="Transito"></p-column>
  <p-column field="asignación" header="Asignación"></p-column>
  <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
