<h2>Agregar Relación Reacción - Criterios de Evaluación</h2>
<p-dataTable [value]="agr_rel_reacc_crit_eval" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="reaccion" header="Reacción"></p-column>
    <p-column field="criterio_de_evaluacion" header="Criterio de Evaluación"></p-column>
    <p-column field="descripcion" header="Descripcion"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
