<!--
<p>
  asignacion-admin
</p> -->
<h2>Estado de Asignaciones Generadas</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
<p-dialog
header="Atributo"
styleClass="tipoA"
[(visible)]="display_modal"
[responsive]="true"
[modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
<div class="row top-30">
<div class="col-md-12">
  <form [formGroup]="Formulario" novalidate="novalidate">
    <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
            <label class="control-label col-md-3 derecha">Fecha</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('monitor').valid && Formulario.get('monitor').touched}">
            <label class="control-label col-md-3 derecha">Monitor</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }" data-original-title="Seleccione monitor"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el monitor civil"> -->
                <select name="monitor" formControlName="monitor" ngModel="" [(ngModel)]="objeto.monitor" placeholder="Seleccione monitor" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('campania').valid && Formulario.get('campania').touched}">
            <label class="control-label col-md-3 derecha">Campaña</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('campania').valid && Formulario.get('campania').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('campania').valid && Formulario.get('campania').touched ) }" data-original-title="Seleccione la campania"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el campania civil"> -->
                <select name="campania" formControlName="campania" ngModel="" [(ngModel)]="objeto.campania" placeholder="Seleccione campania" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
            <label class="control-label col-md-3 derecha">Proveedor</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione Proveedor"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el proveedor civil"> -->
                <select name="proveedor" formControlName="proveedor" ngModel="" [(ngModel)]="objeto.proveedor" placeholder="Seleccione proveedor" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
            <label class="control-label col-md-3 derecha">Cartera</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione la cartera"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el cartera civil"> -->
                <select name="cartera" formControlName="cartera" ngModel="" [(ngModel)]="objeto.cartera" placeholder="Seleccione cartera" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('registro').valid && Formulario.get('registro').touched}">
            <label class="control-label col-md-3 derecha">Registros</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('registro').valid && Formulario.get('registro').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('registro').valid && Formulario.get('registro').touched ) }" data-original-title="Seleccione la registro"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el registro civil"> -->
                <select name="registro" formControlName="registro" ngModel="" [(ngModel)]="objeto.registro" placeholder="Seleccione registro" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('evaluado').valid && Formulario.get('evaluado').touched}">
            <label class="control-label col-md-3 derecha">Evaluados</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('evaluado').valid && Formulario.get('evaluado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('evaluado').valid && Formulario.get('evaluado').touched ) }" data-original-title="Seleccione la evaluado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el evaluado civil"> -->
                <select name="evaluado" formControlName="evaluado" ngModel="" [(ngModel)]="objeto.evaluado" placeholder="Seleccione evaluado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('pendiente').valid && Formulario.get('pendiente').touched}">
            <label class="control-label col-md-3 derecha">Pendientes</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('pendiente').valid && Formulario.get('pendiente').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('pendiente').valid && Formulario.get('pendiente').touched ) }" data-original-title="Seleccione la pendiente"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el pendiente civil"> -->
                <select name="pendiente" formControlName="pendiente" ngModel="" [(ngModel)]="objeto.pendiente" placeholder="Seleccione pendiente" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('aprobado').valid && Formulario.get('aprobado').touched}">
            <label class="control-label col-md-3 derecha">Aprobados</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('aprobado').valid && Formulario.get('aprobado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('aprobado').valid && Formulario.get('aprobado').touched ) }" data-original-title="Seleccione la aprobado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el aprobado civil"> -->
                <select name="aprobado" formControlName="aprobado" ngModel="" [(ngModel)]="objeto.aprobado" placeholder="Seleccione aprobado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('desaprobado').valid && Formulario.get('desaprobado').touched}">
            <label class="control-label col-md-3 derecha">Desaprobados</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('desaprobado').valid && Formulario.get('desaprobado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('desaprobado').valid && Formulario.get('desaprobado').touched ) }" data-original-title="Seleccione la desaprobado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el desaprobado civil"> -->
                <select name="desaprobado" formControlName="desaprobado" ngModel="" [(ngModel)]="objeto.desaprobado" placeholder="Seleccione desaprobado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('avance_proyectado').valid && Formulario.get('avance_proyectado').touched}">
            <label class="control-label col-md-3 derecha">Avance Proyectado</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('avance_proyectado').valid && Formulario.get('avance_proyectado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('avance_proyectado').valid && Formulario.get('avance_proyectado').touched ) }" data-original-title="Seleccione la avance_proyectado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el avance_proyectado civil"> -->
                <select name="avance_proyectado" formControlName="avance_proyectado" ngModel="" [(ngModel)]="objeto.avance_proyectado" placeholder="Seleccione avance_proyectado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_evaluado').valid && Formulario.get('porcent_evaluado').touched}">
            <label class="control-label col-md-3 derecha">% Evaluados</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_evaluado').valid && Formulario.get('porcent_evaluado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_evaluado').valid && Formulario.get('porcent_evaluado').touched ) }" data-original-title="Seleccione la porcent_evaluado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el porcent_evaluado civil"> -->
                <select name="porcent_evaluado" formControlName="porcent_evaluado" ngModel="" [(ngModel)]="objeto.porcent_evaluado" placeholder="Seleccione porcent_evaluado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_pendiente').valid && Formulario.get('porcent_pendiente').touched}">
            <label class="control-label col-md-3 derecha">% Pendientes</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_pendiente').valid && Formulario.get('porcent_pendiente').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_pendiente').valid && Formulario.get('porcent_pendiente').touched ) }" data-original-title="Seleccione la porcent_pendiente"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el porcent_pendiente civil"> -->
                <select name="porcent_pendiente" formControlName="porcent_pendiente" ngModel="" [(ngModel)]="objeto.porcent_pendiente" placeholder="Seleccione porcent_pendiente" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_aprobada').valid && Formulario.get('porcent_aprobada').touched}">
            <label class="control-label col-md-3 derecha">% Aprobadas</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_aprobada').valid && Formulario.get('porcent_aprobada').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_aprobada').valid && Formulario.get('porcent_aprobada').touched ) }" data-original-title="Seleccione la porcent_aprobada"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el porcent_aprobada civil"> -->
                <select name="porcent_aprobada" formControlName="porcent_aprobada" ngModel="" [(ngModel)]="objeto.porcent_aprobada" placeholder="Seleccione porcent_aprobada" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_desaprobada').valid && Formulario.get('porcent_desaprobada').touched}">
            <label class="control-label col-md-3 derecha">% Desaprobadas</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_desaprobada').valid && Formulario.get('porcent_desaprobada').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_desaprobada').valid && Formulario.get('porcent_desaprobada').touched ) }" data-original-title="Seleccione la porcent_desaprobada"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el porcent_desaprobada civil"> -->
                <select name="porcent_desaprobada" formControlName="porcent_desaprobada" ngModel="" [(ngModel)]="objeto.porcent_desaprobada" placeholder="Seleccione porcent_desaprobada" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_de_avance_proyectado').valid && Formulario.get('porcent_de_avance_proyectado').touched}">
            <label class="control-label col-md-3 derecha">% de Avance Proyectado</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_de_avance_proyectado').valid && Formulario.get('porcent_de_avance_proyectado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_de_avance_proyectado').valid && Formulario.get('porcent_de_avance_proyectado').touched ) }" data-original-title="Seleccione el porcent_de_avance_proyectado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el porcent_de_avance_proyectado civil"> -->
                <select name="porcent_de_avance_proyectado" formControlName="porcent_de_avance_proyectado" ngModel="" [(ngModel)]="objeto.porcent_de_avance_proyectado" placeholder="Seleccione porcent_de_avance_proyectado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
            pButton icon="fa-plus"
            class="btn red-sunglo"
            style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
            pButton icon="fa-pencil"
            class="btn red-sunglo"
            style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</p-dialog>

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
    [contextMenu]="cm"
    [value]="Tabla"
    selectionMode="single"
    (onRowClick)="Edit($event)"
    (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
    [rows]="10" [paginator]="true"
    [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
    scrollable="true" scrollWidth="100%">
    <p-column [sortable]="true" field="fecha" header="fecha" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="monitor" header="Monitor" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="campania" header="Campaña" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="registro" header="Registros" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="evaluado" header="Evaluados" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="pendiente" header="Pendientes" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="aprobado" header="Aprobados" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="desaprobado" header="Desaprobados" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="avance_proyectado" header="Avance Proyectado" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="porcent_evaluado" header="% Evaluados" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="porcent_pendiente" header="% Pendientes" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="porcent_aprobada" header="% Aprobadas" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="porcent_desaprobada" header="% Desaprobados" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="porcent_de_avance_proyectado" header="% Avance Proyectado" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
  </p-dataTable>
</div>
</div>
<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
</div>
<pre>
{{ Formulario.value | json }}
</pre>
