<h2>Agregar Perfil de Monitor</h2>
<p-dataTable [value]="agr_perfil_monitor" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="tipo_de_cartera" header="Tipo de Cartera"></p-column>
    <p-column field="condicion" header="Condición"></p-column>
    <p-column field="empresa" header="Empresa"></p-column>
    <p-column field="cartera" header="Cartera"></p-column>
    <p-column field="nro_de_evaluaciones" header="N° de Evaluaciones"></p-column>
    <p-column field="nro_de_audios" header="N° de Audios"></p-column>
    <p-column field="intervalo_de_dias" header="Intervalo de días"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
