<h2>Agregar Relación Atributo - Clasificación</h2>
<p-dataTable [value]="agr_rel_atribu_clasif" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="clasificacion" header="Clasificación"></p-column>
    <p-column field="atributos" header="Atributos"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
