<h2>Agregar Relación Monitor - Perfil</h2>
<p-dataTable [value]="agr_rel_monit_perf" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="responsable" header="Responsable"></p-column>
    <p-column field="pefil" header="Perfil"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
