<h2 class="titulo">Control de segmentos</h2>

<form [formGroup]="frmControlCampanas" novalidate="novalidate">
  <div class="row">
      <div class="col-md-6">
        <div class="form-group row" [ngClass]="{'has-error': !frmControlCampanas.get('idSegmento').valid && frmControlCampanas.get('idSegmento').touched}">
          <label class="control-label col-md-4 derecha">Nombre segmento</label>
          <div class="col-md-8">
            <div [ngClass]="{'input-icon right': (!frmControlCampanas.get('idSegmento').valid && frmControlCampanas.get('idSegmento').touched ) }">
              <i [ngClass]="{'fa fa-warning tooltips': (!frmControlCampanas.get('idSegmento').valid && frmControlCampanas.get('idSegmento').touched ) }" data-original-title="Escriba el nombre del tipo de cartera"></i>
              <input type="text" class="form-control" formControlName='idSegmento' name="idSegmento" id="idSegmento" placeholder="Escriba el nombre del tipo de cartera">
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="form-group row" [ngClass]="{'has-error': !frmControlCampanas.get('fecha').valid && frmControlCampanas.get('fecha').touched}">
      <div class="col-md-6">
        <label class="control-label col-md-4 derecha">Fecha consulta</label>
        <div class="col-md-8">
          <div [ngClass]="{'input-icon right': (!frmControlCampanas.get('fecha').valid && frmControlCampanas.get('fecha').touched ) }">
            <i [ngClass]="{'fa fa-warning tooltips': (!frmControlCampanas.get('fecha').valid && frmControlCampanas.get('fecha').touched ) }" data-original-title="Seleccione una fecha"></i>
            <!-- <input type="text" class="form-control" formControlName='fecha' name='fecha' placeholder="Seleccione una fecha"> -->
            <p-calendar formControlName='fecha' inputStyleClass="date-campanas" dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
          </div>
        </div>
      </div>
  </div>
</form>

<p-dataTable [value]="cobertura">
    <p-headerColumnGroup>
        <p-row>
            <p-column header="Cobertura" colspan="7"></p-column>
            <p-column header="Base" colspan="2"></p-column>
            <p-column header="% Cobertura" colspan="2"></p-column>
            <p-column header="% Resultados" colspan="7"></p-column>
        </p-row>
        <p-row>
            <p-column header="Usuario"></p-column>
            <p-column header="Creado"></p-column>
            <p-column header="Proveedor"></p-column>
            <p-column header="Cartera"></p-column>
            <p-column header="Segmento"></p-column>
            <p-column header="Nombre"></p-column>
            <p-column header="Agente"></p-column>
            <p-column header="Ctes."></p-column>
            <p-column header="Telef."></p-column>
            <p-column header="Ctes."></p-column>
            <p-column header="Telef."></p-column>
            <p-column header="CE"></p-column>
            <p-column header="CD"></p-column>
            <p-column header="CI"></p-column>
            <p-column header="NC"></p-column>
            <p-column header="IL"></p-column>
            <p-column header="NL"></p-column>
            <p-column header="Errados"></p-column>
            <p-column header="Estado"></p-column>
        </p-row>
    </p-headerColumnGroup>

    <p-column field="usuario"></p-column>
    <p-column field="creado"></p-column>
    <p-column field="proveedor"></p-column>
    <p-column field="cartera"></p-column>
    <p-column field="segmento"></p-column>
    <p-column field="nombre"></p-column>
    <p-column field="agente"></p-column>
    <p-column field="ctes."></p-column>
    <p-column field="telef."></p-column>
    <p-column field="ctes."></p-column>
    <p-column field="telef."></p-column>
    <p-column field="ce"></p-column>
    <p-column field="cd"></p-column>
    <p-column field="ci"></p-column>
    <p-column field="nc"></p-column>
    <p-column field="il"></p-column>
    <p-column field="nl"></p-column>
    <p-column field="errados"></p-column>
    <p-column field="estado"></p-column>
</p-dataTable>

<br>

<p-dataTable [value]="equipos_trabajo">
    <p-headerColumnGroup>
        <p-row>
            <p-column header="" colspan="2"></p-column>
            <p-column header="% Participación de tiempos" colspan="4"></p-column>
            <p-column header="Nro de Gestiones" colspan="7"></p-column>
            <p-column header="Tiempo promedio" colspan="5"></p-column>
        </p-row>
        <p-row>
            <p-column header="Agente"></p-column>
            <p-column header="Marcación"></p-column>
            <p-column header="Disponible"></p-column>
            <p-column header="Hablando"></p-column>
            <p-column header="ACW"></p-column>
            <p-column header="No Disponible"></p-column>
            <p-column header="CE"></p-column>
            <p-column header="CD"></p-column>
            <p-column header="CI"></p-column>
            <p-column header="NC"></p-column>
            <p-column header="IL"></p-column>
            <p-column header="NL"></p-column>
            <p-column header="Total"></p-column>
            <p-column header="CE"></p-column>
            <p-column header="CD"></p-column>
            <p-column header="CI"></p-column>
            <p-column header="NC"></p-column>
            <p-column header="Total"></p-column>
            <p-column header="Estado"></p-column>
        </p-row>
    </p-headerColumnGroup>

            <p-column field="agente"></p-column>
            <p-column field="marcación"></p-column>
            <p-column field="disponible"></p-column>
            <p-column field="hablando"></p-column>
            <p-column field="acw"></p-column>
            <p-column field="no Disponible"></p-column>
            <p-column field="ce"></p-column>
            <p-column field="cd"></p-column>
            <p-column field="ci"></p-column>
            <p-column field="nc"></p-column>
            <p-column field="il"></p-column>
            <p-column field="nl"></p-column>
            <p-column field="total"></p-column>
            <p-column field="ce"></p-column>
            <p-column field="cd"></p-column>
            <p-column field="ci"></p-column>
            <p-column field="nc"></p-column>
            <p-column field="total"></p-column>
            <p-column field="estado"></p-column>
</p-dataTable>

<!-- <div class="row top-30">
  <div class="col-sm-6">
    <div style="text-align: left">
      <button class="btn red-sunglo">Filtros</button>
    </div>
  </div>
</div> -->
