<h2 class="titulo">Carteras</h2>

<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}" sticky="sticky"></p-growl>

<p-dialog header="Carteras"
      [(visible)]="display_modal"
      [width]="650"
      [responsive]="true"
      [modal]="true"
      (onHide)="changeAccion()"
      [style]="{'margin-top':'30px'}">

  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched}">
              <label class="control-label col-md-3 derecha">Proveedor</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched ) }" data-original-title="Escriba el Nombre"></i>
                  <select class="form-control" [(ngModel)]="objeto.id_proveedor" formControlName="id_proveedor" name=id_proveedor>
                    <option
                      *ngFor="let item of proveedores"
                      [value]="item.id">{{ item.razon_social }}</option>
                  </select>
                </div>
              </div>
             </div>


            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_tipo_cartera').valid && Formulario.get('id_tipo_cartera').touched}">
              <label class="control-label col-md-3 derecha">Tipo de Cartera</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('id_tipo_cartera').valid && Formulario.get('id_tipo_cartera').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_tipo_cartera').valid && Formulario.get('id_tipo_cartera').touched ) }" data-original-title=""></i>
                  <select name="id_tipo_cartera" class="form-control" formControlName="id_tipo_cartera" [(ngModel)]="objeto.id_tipo_cartera">
                    <option
                        *ngFor="let item of tipo_carteras"
                        [value]="item.id">{{item.tipo_cartera}}</option>
                  </select>
                </div>
              </div>
            </div>


              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
                <label class="control-label col-md-3 derecha">Cartera</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Escriba la Cartera"></i>
                    <input type="text" class="form-control" formControlName="cartera" name="cartera" id="cartera" [(ngModel)]="objeto.cartera">
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <!-- <button type="submit" class="btn red-sunglo" ></button> -->

            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear" [disabled]="!Formulario.valid"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar" [disabled]="!Formulario.valid"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</p-dialog>
<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="cartera" class="col-sm-3 col-form-label">Cartera</label>
      <div class="col-sm-9">
        <select name="cartera" id="cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group row">
      <label for="id_tipo_cartera" class="col-sm-5 col-form-label">Tipo de Cartera</label>
      <div class="col-sm-7">
        <select name="id_tipo_cartera" id="id_tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="estado" class="col-sm-3 col-form-label">Estado</label>
      <div class="col-sm-9">
        <select name="estado" id="estado" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
        [value]="Tabla"
        selectionMode="single"
        (onRowClick)="Edit($event)"
        (onRowDblclick)="Edit($event)"
        [(selection)]="selectedRecord"
        resizableColumns="true"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]"
        scrollable="true"
        scrollWidth="100%">
         <p-column field="id" header="ID" [style]="{'width':'30px', 'text-align':'center'}"></p-column>
         <p-column field="razon_social" header="Proveedor" [style]="{'width':'150px', 'text-align':'center'}"></p-column>
         <p-column field="tipo_cartera" header="Tipo de Cartera" [style]="{'width':'150px', 'text-align':'center'}"></p-column>
         <p-column field="cartera" header="Cartera" [style]="{'width':'150px', 'text-align':'center'}"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
