<h2>Generar Asignación</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
<p-dialog
      header="Generar Asignación"
      styleClass="tipoE"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('monitor').valid && Formulario.get('monitor').touched}">
              <label class="control-label col-md-4 derecha">Monitor</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }" data-original-title="Seleccione Monitor"></i>
                    <select name="monitor" formControlName="monitor" [(ngModel)]="objeto.monitor" placeholder="Seleccione Monitor" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched}">
              <label class="control-label col-md-4 derecha">Tipo de Cartera</label>
              <div class="col-md-6">
                <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }" data-original-title="Seleccione tipo_de_cartera"></i>
                    <select name="tipo_de_cartera" formControlName="tipo_de_cartera" [(ngModel)]="objeto.tipo_de_cartera" placeholder="Seleccione tipo_de_cartera" class="form-control">
                    <option [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
              <label class="control-label col-md-4 derecha">Cartera</label>
              <div class="col-md-6">
                <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione cartera"></i>
                    <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione cartera" class="form-control">
                    <option [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('reaccion').valid && Formulario.get('reaccion').touched}">
              <label class="control-label col-md-4 derecha">Reaccion</label>
              <div class="col-md-6">
                <div [ngClass]="{'input-icon right': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }" data-original-title="Seleccione reacción"></i>
                    <select name="reaccion" formControlName="reaccion" [(ngModel)]="objeto.reaccion" placeholder="Seleccione reacción" class="form-control">
                    <option [value]="item">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('registro').valid && Formulario.get('registro').touched}">
              <label class="control-label col-md-4 derecha">Registros</label>
              <div class="col-md-4">
                <div [ngClass]="{'input-icon right': (!Formulario.get('registro').valid && Formulario.get('registro').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('registro').valid && Formulario.get('registro').touched ) }" data-original-title="Seleccione Registros"></i>
                    <select name="registro" formControlName="registro" [(ngModel)]="objeto.registro" placeholder="Seleccione Registros" class="form-control">
                     <option [value]="item">{{ item }}</option>
                    </select>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div style="text-align:right">
              <button type="button" *ngIf="accion == 'crear'"
                      pButton icon="fa-plus"
                      class="btn red-sunglo"
                      style="float:right" (click)="Crear()" label="Crear"></button>

              <button type="button" *ngIf="accion == 'editar'"
                      pButton icon="fa-pencil"
                      class="btn red-sunglo"
                      style="float:right" (click)="Editar()" label="Editar"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [contextMenu]="cm"
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
      [rows]="10" [paginator]="true"
      [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      scrollable="true" scrollWidth="100%">
        <p-column [sortable]="true" field="monitor" header="Monitor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="tipo_de_cartera" header="Tipo de Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="reaccion" header="Reacción" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="registro" header="Registros" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
    </p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
</div>
<pre>
{{ Formulario.value | json }}
</pre>
