<h2 class="titulo">Estado de asignaciones</h2>

<div class="row">
  <div class="col-md-12">
	 <p-dataTable [value]="Tabla" scrollable="true" scrollHeight="200px" scrollWidth="100%">
			  <p-column field="id" header="ID"></p-column>
        <p-column field="nombre" header="Nombre"></p-column>
        <p-column field="fec_hor_envio" header="Fecha/Hora Envío"></p-column>
        <p-column field="fec_hor_acept" header="Fecha/Hora Aceptación"></p-column>
        <p-column field="aceptado_por" header="Aceptado por"></p-column>
        <p-column field="estado" header="Estado"></p-column>
        <p-column field="fec_hor_cambio_est" header="Fecha/Hora cambio estado"></p-column>
        <p-column field="resumen_resultados" header="Resumen de resultados"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <div style="text-align: right">
      <button class="btn btn-primary">Exportar</button>
      <button class="btn btn-default">Regresar</button>
    </div>
  </div>
</div>
