<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="heading">
        <h3 class="uppercase">Menu</h3>
    </li>
    <li class="nav-item open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Asignación</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;">
            <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'asignacion', 'agr_asignacion']" class="nav-link ">
                  <span class="title">Generar Asignación</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['admin', 'asignacion', 'asignacion-admin']" class="nav-link ">
                    <span class="title">Asignación</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'asignacion', 'reasig_equi_trabajo']" class="nav-link ">
                    <span class="title">Re-asignación de Equipos de Trabajo</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Monitoreo</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;">
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['admin', 'monitoreo', 'est-asignacion-admin']" class="nav-link ">
                  <span class="title">Detalle de Asignación</span>
              </a>
          </li>
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'monitoreo', 'evaluacion']" class="nav-link ">
                    <span class="title">Evaluación</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['admin', 'mantenimiento', 'tipo_de_dato', 'usuario']" class="nav-link ">
                    <span class="title">Usuarios</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Relacionar Tablas</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;">
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'equi_trabajo']" class="nav-link ">
                  <span class="title">Equipos de Trabajo</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_atribu_clasif']" class="nav-link ">
                  <span class="title">Relación Atributos - Clasificación</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_atribu_tipoe']" class="nav-link ">
                  <span class="title">Relación Atributos - Tipo de Error</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_crit_eval_atribu']" class="nav-link ">
                  <span class="title">Relación Criterios de Evaluación - Atributos</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_justif_reacc']" class="nav-link ">
                  <span class="title">Relación Justificación-Reacción</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_monit_cart']" class="nav-link ">
                  <span class="title">Relación Monitor-Cartera</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_monit_perf']" class="nav-link ">
                  <span class="title">Relación Monitor-Perfil</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_reacc_crit_eval']" class="nav-link ">
                  <span class="title">Relación Reacción - Criterios de Evaluación</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_superv_monit']" class="nav-link ">
                  <span class="title">Relación Supervisor - Monitor</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'relacionar_tablas', 'rel_tipocart_cart']" class="nav-link ">
                  <span class="title">Relación Tipo de Cartera-Cartera</span>
              </a>
          </li>
        </ul>
    </li>

<!-- <li class="nav-item open">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-diamond"></i>
        <span class="title">Mantenimiento</span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu" style="display: block;">
        <li class="nav-item" routerLinkActive="open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Tipo de Datos</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li class="nav-item" routerLinkActive="open">
                    <a [routerLink]="['admin', 'mantenimiento', 'tipo_de_dato', 'agr_tipocart']" class="nav-link ">
                        <span class="title">Tipo de Cartera</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="open">
                    <a [routerLink]="['admin', 'mantenimiento', 'tipo_de_dato', 'agr_tipoerror']" class="nav-link ">
                        <span class="title">Tipo de Error</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="open">
                    <a [routerLink]="['admin', 'mantenimiento', 'tipo_de_dato', 'usuario']" class="nav-link ">
                        <span class="title">Usuarios</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" routerLinkActive="open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Tablas</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_atributo']" class="nav-link ">
                       <span class="title">Agregar Atributo</span>
                   </a>
               </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_clasificacion']" class="nav-link ">
                         <span class="title">Agregar Clasificación</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_condicion']" class="nav-link ">
                         <span class="title">Agregar Condición</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_crit_eval']" class="nav-link ">
                         <span class="title">Agregar Criterios de Evaluación</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_diacorte_cart']" class="nav-link ">
                         <span class="title">Agregar Día de Corte por Cartera</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_perfil_monitor']" class="nav-link ">
                         <span class="title">Agregar Perfil de Monitor</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_reaccion']" class="nav-link ">
                         <span class="title">Agregar Reacción</span>
                     </a>
                 </li>
                 <li class="nav-item" routerLinkActive="open">
                     <a [routerLink]="['admin', 'mantenimiento', 'tablas', 'agr_tiempo']" class="nav-link ">
                         <span class="title">Agregar Tiempo</span>
                     </a>
                 </li>
            </ul>
        </li>
        <li class="nav-item" routerLinkActive="open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Relaciónes</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['admin', 'mantenimiento', 'relacionar_tablas', 'agr_rel_atribu_clasif']" class="nav-link ">
                       <span class="title">Agregar Relación Atributos - Clasificación</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['admin', 'mantenimiento', 'relacionar_tablas', 'agr_rel_atribu_tipoe']" class="nav-link ">
                       <span class="title">Agregar Relación Atributos - Tipo de Error</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['admin', 'mantenimiento', 'relacionar_tablas', 'agr_rel_crit_eval_atribu']" class="nav-link ">
                       <span class="title">Agregar Relación Criterios de Evaluación - Atributos</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['shared', 'mantenimiento', 'relacionar_tablas', 'agr_rel_justif_reacc']" class="nav-link ">
                       <span class="title">Agregar Relación Justificacion-Reacción</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['shared', 'mantenimiento', 'relacionar_tablas', 'agr_rel_monit_cart']" class="nav-link ">
                       <span class="title">Agregar Relación Monitor-Cartera</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['shared', 'mantenimiento', 'relacionar_tablas', 'agr_rel_monit_perf']" class="nav-link ">
                       <span class="title">Agregar Relación Monitor-Perfil</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['shared', 'mantenimiento', 'relacionar_tablas', 'agr_rel_reacc_crit_eval']" class="nav-link ">
                       <span class="title">Agregar Relación Reacción - Criterios de Evaluación</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['admin', 'mantenimiento', 'relacionar_tablas', 'agr_rel_superv_monit']" class="nav-link ">
                       <span class="title">Agregar Relación Supervisor - Monitor</span>
                   </a>
               </li>
               <li class="nav-item" routerLinkActive="open">
                   <a [routerLink]="['shared', 'mantenimiento', 'relacionar_tablas', 'agr_rel_tipocart_cart']" class="nav-link ">
                       <span class="title">Agregar Relación Tipo de Cartera-Cartera</span>
                   </a>
               </li>
            </ul>
        </li>
    </ul>
</li> -->

    <li class="nav-item open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Tablas de Apoyo</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;">
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'tablas_de_apoyo', 'atributo']" class="nav-link ">
                  <span class="title">Atributo</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tablas_de_apoyo', 'clasificacion']" class="nav-link ">
                    <span class="title">Clasificacion</span>
                </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'tablas_de_apoyo', 'condicion']" class="nav-link ">
                  <span class="title">Condición</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tablas_de_apoyo', 'crit_eval']" class="nav-link ">
                    <span class="title">Criterios de Evaluación</span>
                </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'tablas_de_apoyo', 'diacorte_cart']" class="nav-link ">
                  <span class="title">Día de Corte Por Cartera</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tablas_de_apoyo', 'perfil_monitor']" class="nav-link ">
                    <span class="title">Perfil Monitor</span>
                </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
              <a [routerLink]="['shared', 'tablas_de_apoyo', 'reaccion']" class="nav-link ">
                  <span class="title">Reacción</span>
              </a>
          </li>
          <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tablas_de_apoyo', 'tiempo']" class="nav-link ">
                    <span class="title">Tiempo</span>
                </a>
          </li>
        </ul>
    </li>

    <li class="nav-item open">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Tipo de Datos</span>
            <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;">
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tipo_de_datos', 'tipocart']" class="nav-link ">
                    <span class="title">Tipo de Cartera</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="open">
                <a [routerLink]="['shared', 'tipo_de_datos', 'tipoerror']" class="nav-link ">
                    <span class="title">Tipo de Error</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
