<h2>Tiempo</h2>

<p-dialog
header="tiempo"
styleClass="tipoA"
[(visible)]="display_modal"
[width]="600" [responsive]="true"
[modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
<div class="row top-30">
  <div class="col-md-12">
    <form [formGroup]="Formulario" novalidate="novalidate">
      <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" formControlName="id" id="id">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
            <label class="control-label col-md-4 derecha">Fecha</label>
            <div class="col-md-8">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('analizar_historial').valid && Formulario.get('analizar_historial').touched}">
            <label class="control-label col-md-4 derecha">Analizar Historial</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('analizar_historial').valid && Formulario.get('analizar_historial').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('analizar_historial').valid && Formulario.get('analizar_historial').touched ) }" data-original-title="Escriba los Nombres"></i>
                <input type="text" class="form-control" formControlName='analizar_historial' [(ngModel)]="objeto.analizar_historial" name='analizar_historial' placeholder="Analizar Historial">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('presentar_informe').valid && Formulario.get('presentar_informe').touched}">
            <label class="control-label col-md-4 derecha">Presentar Informe</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('presentar_informe').valid && Formulario.get('presentar_informe').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('presentar_informe').valid && Formulario.get('presentar_informe').touched ) }" data-original-title="Escriba los Nombres"></i>
                <input type="text" class="form-control" formControlName='presentar_informe' [(ngModel)]="objeto.presentar_informe" name='presentar_informe' placeholder="Presentar Informe">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
            <label class="control-label col-md-4 derecha">Estado</label>
            <div class="col-md-7">
              <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                <!-- <input type="text" class="form-control" formControlName='est_civil' [(ngModel)]="usuario.est_civil" name='est_civil' placeholder="Seleccione el estado civil"> -->
                <select name="estado" formControlName="estado" ngModel="" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                  <option
                  *ngFor="let item of descripcion"
                  [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
            pButton icon="fa-plus"
            class="btn red-sunglo"
            style="float:right" (click)="crearTipoCart()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
            pButton icon="fa-pencil"
            class="btn red-sunglo"
            style="float:right" (click)="editarTipoCart()" label="Editar"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</p-dialog>

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
    [contextMenu]="cm"
    [value]="Tabla"
    selectionMode="single"
    (onRowClick)="Edit($event)"
    (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
    [rows]="10" [paginator]="true"
    [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
    scrollable="true" scrollWidth="100%">
    <p-column [sortable]="true" field="fecha" header="Fecha" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="analizar_historial" header="Analizar Historial" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="presentar_informe" header="Presentar Informe" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
  </p-dataTable>
</div>
</div>
<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
</div>
