<h2>Agregar Relación Cartera - Tipo de Cartera</h2>
<p-dataTable [value]="agr_rel_tipocart_cart" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="tipo_de_cartera" header="Tipo de Cartera"></p-column>
    <p-column field="proveedor" header="Proveedor"></p-column>
    <p-column field="cartera" header="Cartera"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
