<h2>Equipos de Trabajo</h2>
<p-dialog
header="Equipos de Trabajo"
styleClass="tipoF"
[(visible)]="display_modal"
[responsive]="true"
[modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
<div class="row top-30">
	<div class="col-md-12">
		<form [formGroup]="Formulario" novalidate="novalidate" #form>
			<input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha_de_ingreso').valid && Formulario.get('fecha_de_ingreso').touched}">
						<label class="control-label col-md-5 derecha">Fecha de Ingreso</label>
						<div class="col-md-4">
							<div [ngClass]="{'input-icon top': (!Formulario.get('fecha_de_ingreso').valid && Formulario.get('fecha_de_ingreso').touched ) }">
								<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha_de_ingreso').valid && Formulario.get('fecha_de_ingreso').touched ) }" data-original-title="Fecha de Ingreso"></i>
								<p-calendar formControlName='fecha_de_ingreso' [(ngModel)]="objeto.fecha_de_ingreso" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
							</div>
						</div>
					</div>

					<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
						<label class="control-label col-md-5 derecha">Proveedor</label>
						<div class="col-md-6">
							<div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
								<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione proveedor"></i>
								<select name="proveedor" formControlName="proveedor" [(ngModel)]="objeto.proveedor" placeholder="Seleccione proveedor" class="form-control">
									<option [value]="item">{{ item }}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
						<label class="control-label col-md-5 derecha">Cartera</label>
							<div class="col-md-6">
								<div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione cartera"></i>
									<select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione Cartera" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('agente').valid && Formulario.get('agente').touched}">
							<label class="control-label col-md-5 derecha">Agente</label>
							<div class="col-md-6">
								<div [ngClass]="{'input-icon right': (!Formulario.get('agente').valid && Formulario.get('agente').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('agente').valid && Formulario.get('agente').touched ) }" data-original-title="Seleccione agente"></i>
									<select name="agente" formControlName="agente" [(ngModel)]="objeto.agente" placeholder="Seleccione agente" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('turno').valid && Formulario.get('turno').touched}">
							<label class="control-label col-md-5 derecha">Turno</label>
							<div class="col-md-6">
								<div [ngClass]="{'input-icon right': (!Formulario.get('turno').valid && Formulario.get('turno').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('turno').valid && Formulario.get('turno').touched ) }" data-original-title="Seleccione turno"></i>
									<select name="turno" formControlName="turno" [(ngModel)]="objeto.turno" placeholder="Seleccione turno" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('perfil').valid && Formulario.get('perfil').touched}">
							<label class="control-label col-md-5 derecha">Perfil</label>
							<div class="col-md-6">
								<div [ngClass]="{'input-icon right': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('perfil').valid && Formulario.get('perfil').touched ) }" data-original-title="Seleccione perfil"></i>
									<select name="perfil" formControlName="perfil" [(ngModel)]="objeto.perfil" placeholder="Seleccione perfil" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('condicion').valid && Formulario.get('condicion').touched}">
							<label class="control-label col-md-5 derecha">Condición</label>
							<div class="col-md-6">
								<div [ngClass]="{'input-icon right': (!Formulario.get('condicion').valid && Formulario.get('condicion').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('condicion').valid && Formulario.get('condicion').touched ) }" data-original-title="Seleccione condición"></i>
									<select name="condicion" formControlName="condicion" [(ngModel)]="objeto.condicion" placeholder="Seleccione condición" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
							<label class="control-label col-md-5 derecha">Estado</label>
							<div class="col-md-3">
								<div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
									<i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
									<select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
										<option [value]="item">{{ item }}</option>
									</select>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div style="text-align:right">
							<button type="button" *ngIf="accion == 'crear'"
							pButton icon="fa-plus"
							class="btn red-sunglo"
							style="float:right" (click)="Crear()" label="Crear"></button>

							<button type="button" *ngIf="accion == 'editar'"
							pButton icon="fa-pencil"
							class="btn red-sunglo"
							style="float:right" (click)="Editar()" label="Editar"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</p-dialog>

<div class="row">
	<div class="col-md-12">
		<p-dataTable #dt
		[contextMenu]="cm"
		[value]="Tabla"
		selectionMode="single"
		(onRowClick)="Edit($event)"
		(onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
		[rows]="10" [paginator]="true"
		[pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
		scrollable="true" scrollWidth="100%">
		<p-column [sortable]="true" field="fecha_de_ingreso" header="Fecha de Ingreso" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="agente" header="Agente" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="turno" header="Turno" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="perfil" header="Perfil" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="condicion" header="Condición" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
		<p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
	</p-dataTable>
</div>
</div>

<div class="row top-30">
	<div class="col-sm-6">
		<div>
			<button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
			<button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
			<button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
		</div>
	</div>
</div>

<pre>
	{{ form.value | json }}
</pre>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
