<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>

<h2 class="titulo">Proveedores</h2>

<p-dialog header="Proveedores" [(visible)]="display_modal" [width]="650" [responsive]="true" [modal]="true">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
      <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('razon_social').valid && Formulario.get('razon_social').touched}">
            <label class="control-label col-md-3 derecha">Razon social</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('razon_social').valid && Formulario.get('razon_social').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('razon_social').valid && Formulario.get('razon_social').touched ) }" data-original-title="Escriba la razón social"></i>
                <input type="text" class="form-control" id="razon_social" [(ngModel)]="objeto.razon_social" formControlName='razon_social' name='razon_social' placeholder="Escriba la razón social">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('ruc').valid && Formulario.get('ruc').touched}">
            <label class="control-label col-md-3 derecha">Ruc</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('ruc').valid && Formulario.get('ruc').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('ruc').valid && Formulario.get('ruc').touched ) }" data-original-title="Escriba el RUC"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.ruc" formControlName='ruc' name='ruc' placeholder="Escriba el RUC">
                <small
                    *ngIf="!Formulario.get('ruc').valid && Formulario.get('ruc').touched"
                    class="form-text text-muted">Deben ser 11 caracteres</small>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_rubro').valid && Formulario.get('id_rubro').touched}">
            <label class="control-label col-md-3 derecha">Rubro</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('id_rubro').valid && Formulario.get('id_rubro').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_rubro').valid && Formulario.get('id_rubro').touched ) }" data-original-title="Escriba el Rubro"></i>
                <select name="id_rubro" class="form-control" [(ngModel)]="objeto.id_rubro" formControlName="id_rubro" name="id_rubro">
                  <option
                      *ngFor="let item of rubros"
                      [value]="item.id">{{item.nombre}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telefono1').valid && Formulario.get('telefono1').touched}">
            <label class="control-label col-md-3 derecha">Telefono 1</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('telefono1').valid && Formulario.get('telefono1').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telefono1').valid && Formulario.get('telefono1').touched ) }" data-original-title="Escriba el Teléfono 1"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.telefono1" formControlName='telefono1' name='telefono1' placeholder="Escriba el Teléfono 1">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telefono2').valid && Formulario.get('telefono2').touched}">
            <label class="control-label col-md-3 derecha">Telefono 2</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('telefono2').valid && Formulario.get('telefono2').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telefono2').valid && Formulario.get('telefono2').touched ) }" data-original-title="Escriba el Teléfono 2"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.telefono2" formControlName='telefono2' name='telefono2' placeholder="Escriba el Teléfono 2">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telefono3').valid && Formulario.get('telefono3').touched}">
            <label class="control-label col-md-3 derecha">Telefono 3</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('telefono3').valid && Formulario.get('telefono3').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telefono3').valid && Formulario.get('telefono3').touched ) }" data-original-title="Escriba el Teléfono 3"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.telefono3" formControlName='telefono3' name='telefono3' placeholder="Escriba el Teléfono 3">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('representante').valid && Formulario.get('representante').touched}">
            <label class="control-label col-md-3 derecha">Representante</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('representante').valid && Formulario.get('representante').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('representante').valid && Formulario.get('representante').touched ) }" data-original-title="Escriba el Representante"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.representante" formControlName='representante' name='representante' placeholder="Escriba el Representante">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('contacto').valid && Formulario.get('contacto').touched}">
            <label class="control-label col-md-3 derecha">Contacto</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('contacto').valid && Formulario.get('contacto').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('contacto').valid && Formulario.get('contacto').touched ) }" data-original-title="Escriba el nombre del Contacto"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.contacto" formControlName='contacto' name='contacto' placeholder="Escriba el nombre del Contacto">
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telf_contacto').valid && Formulario.get('telf_contacto').touched}">
            <label class="control-label col-md-3 derecha">Telf_contacto</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('telf_contacto').valid && Formulario.get('telf_contacto').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telf_contacto').valid && Formulario.get('telf_contacto').touched ) }" data-original-title="Escriba el teléfono del contacto"></i>
                <input type="text" class="form-control" [(ngModel)]="objeto.telf_contacto" formControlName='telf_contacto' name='telf_contacto' placeholder="Escriba el teléfono del contacto">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" *ngIf="accion == 'crear'"
                  pButton icon="fa-plus"
                  class="btn red-sunglo"
                  [disabled]="!Formulario.valid"
                  style="float:right" (click)="Crear()" label="Crear"></button>

          <button type="button" *ngIf="accion == 'editar'"
                  pButton icon="fa-pencil"
                  class="btn red-sunglo"
                  [disabled]="!Formulario.valid"
                  style="float:right" (click)="Editar()" label="Editar"></button>
        </div>
      </div>

      </form>
    </div>
  </div>
</p-dialog>

<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="proveedor" class="col-sm-3 col-form-label">Proveedor</label>
      <div class="col-sm-9">
        <select name="proveedor" id="proveedor" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="estado" class="col-sm-3 col-form-label">Estado</label>
      <div class="col-sm-9">
        <select name="estado" id="estado" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
      [rows]="10" [paginator]="true"
      [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      scrollable="true" scrollWidth="100%">
         <p-column [sortable]="true" field="id" header="ID" [style]="{'width':'20px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="razon_social" header="Razón social" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="ruc" header="RUC" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="rubro" header="Rubro" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="telefono1" header="Telefono 1" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="telefono2" header="Telefono 2" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="telefono3" header="Telefono 3" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="representante" header="Representante" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="contacto" header="Contacto" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
         <p-column [sortable]="true" field="telf_contacto" header="Telf. Contacto" [style]="{'width':'50px', 'text-align':'center'}"></p-column>
	  </p-dataTable>
  </div>
</div>
<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>


<!-- <div>
  <pre>
    {{ Formulario.value | json }}
  </pre>
</div> -->
