<h2 class="titulo">Productos</h2>

<p-dialog header="Productos" [(visible)]="display_modal" [width]="650" [responsive]="true" [modal]="true" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">

      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
        <div class="row">
          <div class="col-md-12">

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_tipo_producto').valid && Formulario.get('id_tipo_producto').touched}">
                <label class="control-label col-md-3 derecha">Tipo de Producto</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('id_tipo_producto').valid && Formulario.get('id_tipo_producto').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_tipo_producto').valid && Formulario.get('id_tipo_producto').touched ) }" data-original-title=""></i>
                    <select name="id_tipo_producto" id="id_tipo_producto" class="form-control" [(ngModel)]="objeto.id_tipo_producto" formControlName="id_tipo_producto">
                      <option
                        *ngFor="let item of tipo_productos"
                        [value]="item.id">{{ item.tipo_producto }}</option>
                    </select>
                  </div>
                  </div>
                </div>


                <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('producto').valid && Formulario.get('producto').touched}">
                  <label class="control-label col-md-3 derecha">Producto</label>
                  <div class="col-md-9">
                    <div [ngClass]="{'input-icon right': (!Formulario.get('producto').valid && Formulario.get('producto').touched ) }">
                      <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('producto').valid && Formulario.get('producto').touched ) }" data-original-title="Escriba el nombre del Producto"></i>
                      <input type="text" class="form-control" formControlName="producto" [(ngModel)]="objeto.producto" name=producto placeholder="Escriba el nombre del Producto">		</div>
                    </div>
                  </div>


                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="button" *ngIf="accion == 'crear'"
                          pButton icon="fa-plus"
                          class="btn red-sunglo"
                          [disabled]="!Formulario.valid"
                          style="float:right" (click)="Crear()" label="Crear"></button>

                  <button type="button" *ngIf="accion == 'editar'"
                          pButton icon="fa-pencil"
                          class="btn red-sunglo"
                          [disabled]="!Formulario.valid"
                          style="float:right" (click)="Editar()" label="Editar"></button>
                </div>
              </div>

            </form>


    </div>
  </div>
</p-dialog>

<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="id_proveedor" class="col-sm-3 col-form-label">Proveedor</label>
      <div class="col-sm-9">
        <select name="id_proveedor" id="id_proveedor" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group row">
      <label for="id_tipo_producto" class="col-sm-5 col-form-label">Tipo de Producto</label>
      <div class="col-sm-7">
        <select name="id_tipo_producto" id="id_tipo_producto" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="producto" class="col-sm-3 col-form-label">Producto</label>
      <div class="col-sm-9">
        <select name="producto" id="producto" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group row">
      <label for="estado" class="col-sm-4 col-form-label">Estado</label>
      <div class="col-sm-8">
        <select name="estado" id="estado" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
        [value]="Tabla"
        selectionMode="single"
        (onRowClick)="Edit($event)"
        (onRowDblclick)="Edit($event)"
        [(selection)]="selectedRecord"
        resizableColumns="true"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]"
        scrollable="true"
        scrollWidth="100%">
         <p-column field="id" header="ID" [style]="{'width':'30px', 'text-align':'center'}"></p-column>
         <p-column field="producto" header="Producto" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
         <p-column field="tipo_producto" header="Tipo de Producto" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
		</p-dataTable>
  </div>
</div>


<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
