<h2 class="titulo">Crear segmento</h2>

<table border="1" cellspacing="0" cellpadding="0" class="tabla-campanas" align="center">
	<tr>
    <th *ngFor="let item of tablaCabecera">{{ item }}</th>
		<!-- <th>Cobertura</th>
		<th>Call</th>
		<th>Campo</th>
		<th>SMS</th>
		<th>Mailing</th>
		<th>General</th> -->
	</tr>
	<tr>
		<td><strong>Con Gestión</strong></td>
		<td
      class="values"
      *ngFor="let item of tablaConGestion; let i = index"
      (click)="mostrar(item, 'con', i)"
      [ngClass]="{'selected': item.selected==true}">{{ item.value }}</td>
	</tr>
	<tr>
		<td><strong>Sin Gestión</strong></td>
		<td
      class="values"
      *ngFor="let item of tablaSinGestion; let i = index"
      (click)="mostrar(item, 'sin', i)"
      [ngClass]="{'selected': item.selected==true}">{{ item.value }}</td>
      <!-- (click)="item.selected = !item.selected" -->
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td *ngFor="let item of tablaTotales">{{ item }}</td>
	</tr>
</table>

<div class="row">
  <div class="offset-sm-6 col-sm-6">
    <div style="text-align: right">
      <button class="btn btn-primary">Filtros</button>
    </div>
  </div>
</div>
