<div class="page-container">
   <div class="page-sidebar-wrapper">

      <app-sidebar></app-sidebar>

   </div>
   <div class="page-content-wrapper">
       <div class="page-content">
           <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                   <div class="dashboard-stat2 bordered">
                     <router-outlet></router-outlet>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
