<h2 class="titulo">Modificación masiva de estados</h2>

<div class="row">
	<div class="col-sm-10">
		<div class="form-group row derecha">
			<label for="fecha" class="col-sm-2 col-form-label">Descargar Plantilla</label>
			<div class="col-sm-5 izquierda">
				<button class="btn btn-primary btn-sm"><i class="fa fa-download" aria-hidden="true"></i> Descargar</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<div class="form-group row derecha">
			<label for="dni" class="col-sm-2 col-form-label">Base de Estados</label>
			<div class="col-sm-5 izquierda">
				<input type="file" name="base" id="">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="offset-sm-6 col-sm-5">
		<div style="text-align: right">
			<button class="btn btn-primary">Modificar</button>
			<button class="btn btn-default">Cancelar</button>
			<button class="btn btn-default">Regresar</button>
		</div>
	</div>
</div>
