<h2 class="titulo">Datos de clientes</h2>

<p-dataTable [value]="cliente">
    <p-column field="dni" header="DNI"></p-column>
    <p-column field="cliente" header="Cliente"></p-column>
    <p-column field="fec_nac" header="Fecha de Nacimiento"></p-column>
    <p-column field="est_civil" header="Fecha de Nacimiento"></p-column>
    <p-column field="email" header="Email"></p-column>
</p-dataTable>
<br>
<p-dataTable [value]="conyugue">
    <p-headerColumnGroup>
        <p-row>
            <p-column header="CONYUGUE" colspan="5"></p-column>
        </p-row>
    </p-headerColumnGroup>
    <p-column field="dni" header="DNI"></p-column>
    <p-column field="cliente" header="Cliente"></p-column>
    <p-column field="fec_nac" header="Fecha de Nacimiento"></p-column>
    <p-column field="est_civil" header="Estado civil"></p-column>
    <p-column field="email" header="Email"></p-column>
</p-dataTable>
<br>
<p-dataTable [value]="datos_telefono">
    <p-column field="gestion" header="Gestión"></p-column>
    <p-column field="numero" header="Número"></p-column>
    <p-column field="tipo" header="Tipo"></p-column>
    <p-column field="fuente" header="Fuente"></p-column>
    <p-column field="estado" header="Estado"></p-column>
    <p-column field="contacto" header="Contacto"></p-column>
    <p-column field="observacion" header="Observación"></p-column>
    <p-column field="nombre_razon_social" header="Nombre o Razón Social"></p-column>
    <p-column field="validar" header="Validar"></p-column>
</p-dataTable>
<br>
<p-dataTable [value]="datos_direccion">
  <p-column field="gestion" header="Gestión"></p-column>
    <p-column field="calle_y_nro" header="Calle y Nro"></p-column>
    <p-column field="ubigeo" header="Ubigeo"></p-column>
    <p-column field="tipo" header="Tipo"></p-column>
    <p-column field="fuente" header="Fuente"></p-column>
    <p-column field="contacto" header="Contacto"></p-column>
    <p-column field="observacion" header="Observación"></p-column>
    <p-column field="nombre_razon_social" header="Nombre o Razón Social"></p-column>
    <p-column field="validar" header="Validar"></p-column>
</p-dataTable>
<h3>Datos de Campaña</h3>
<p-dataTable [value]="datos_campana">
    <p-column field="proveedor" header="Proveedor"></p-column>
    <p-column field="cartera" header="Cartera"></p-column>
    <p-column field="producto" header="Producto"></p-column>
    <p-column field="cuenta" header="Cuenta"></p-column>
    <p-column field="moneda" header="Moneda"></p-column>
    <p-column field="importe" header="Importe"></p-column>
    <p-column field="perc_tasa" header="% Tasa"></p-column>
    <p-column field="observacion" header="% Observación"></p-column>
</p-dataTable>
<br>
<h3>Datos de la Venta</h3>
<p-dataTable [value]="datos_venta">
    <p-column field="nro_cuotas" header="Nro de Cuotas"></p-column>
    <p-column field="importe_cuota_aprox" header="Importe de cuota aprox."></p-column>
    <p-column field="fecha_pago" header="Fecha de pago"></p-column>
</p-dataTable>
<br>
<h3>Gestiones</h3>
<p-dropdown [options]="vista" [(ngModel)]="vistaSeleccionada" placeholder="Seleccione una vista"></p-dropdown>
<br>
<p-dataTable [value]="datos_venta">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="hora" header="Hora"></p-column>
    <p-column field="resultado" header="Resultado"></p-column>
    <p-column field="justificacion" header="Justificación"></p-column>
    <p-column field="tipo_contacto" header="Tipo de Contacto"></p-column>
    <p-column field="canal" header="Canal"></p-column>
    <p-column field="agente" header="Agente"></p-column>
    <p-column field="telefono" header="Teléfono"></p-column>
    <p-column field="direccion" header="Dirección"></p-column>
    <p-column field="observacion" header="Observación"></p-column>
    <p-column field="audio" header="Audio"></p-column>
</p-dataTable>
<br>
