<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
<!-- <body [ngClass]="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo"> -->
  <!-- Mostrar la pantalla de login -->
  <div *ngIf="!loged">
    <app-login></app-login>
  </div>

  <!-- Mostrar pantalla de agente conectado -->
  <div *ngIf="loged">
    <app-header></app-header>
    <app-body></app-body>
  </div>

</body>
