<h2>Relación Reacción - Criterios de Evaluación</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
 <p-dialog
       header="Relación Reacción - Criterios de Evaluación"
       styleClass="tipoE"
       [(visible)]="display_modal"
       [responsive]="true"
       [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
       <div class="row top-30">
         <div class="col-md-12">
           <form [formGroup]="Formulario" novalidate="novalidate" #form>
             <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">

           <div class="row">
             <div class="col-md-12">
               <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
               <label class="control-label col-md-4 derecha">Fecha</label>
                 <div class="col-md-4">
                   <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                     <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                   </div>
                 </div>
               </div>

               <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('reaccion').valid && Formulario.get('reaccion').touched}">
                 <label class="control-label col-md-4 derecha">Reacción</label>
                 <div class="col-md-5">
                   <div [ngClass]="{'input-icon right': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }" data-original-title="Seleccione Responsable"></i>
                       <select name="reaccion" formControlName="reaccion" [(ngModel)]="objeto.reaccion" class="form-control">
                       <option [value]="item">{{ item }}</option>
                     </select>
                   </div>
                 </div>
               </div>

               <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('criterio_de_evaluacion').valid && Formulario.get('criterio_de_evaluacion').touched}">
                 <label class="control-label col-md-4 derecha">Criterio de Evaluación</label>
                 <div class="col-md-6">
                   <div [ngClass]="{'input-icon right': (!Formulario.get('criterio_de_evaluacion').valid && Formulario.get('criterio_de_evaluacion').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('criterio_de_evaluacion').valid && Formulario.get('criterio_de_evaluacion').touched ) }" data-original-title="Seleccione Criterio de Evaluación"></i>
                       <select name="criterio_de_evaluacion" formControlName="criterio_de_evaluacion" [(ngModel)]="objeto.criterio_de_evaluacion" placeholder="Seleccione Criterio de Evaluación" class="form-control">
                       <option [value]="item">{{ item }}</option>
                     </select>
                   </div>
                 </div>
               </div>

               <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('descripcion').valid && Formulario.get('descripcion').touched}">
                 <label class="control-label col-md-4 derecha">Descripción</label>
                 <div class="col-md-7">
                   <div [ngClass]="{'input-icon right': (!Formulario.get('descripcion').valid && Formulario.get('descripcion').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('descripcion').valid && Formulario.get('descripcion').touched ) }" data-original-title="Seleccione la descripción"></i>
                     <input type="text" class="form-control" formControlName='descripcion' [(ngModel)]="objeto.descripcion" name='descripcion' placeholder="Escriba la descripción">
                   </div>
                 </div>
               </div>

               <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
                 <label class="control-label col-md-4 derecha">Estado</label>
                 <div class="col-md-4">
                   <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                     <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                       <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                       <option [value]="item">{{ item }}</option>
                     </select>
                   </div>
                 </div>
               </div>

             </div>
           </div>

       <div class="row">
         <div class="col-md-12">
           <div style="text-align:right">
             <button type="button" *ngIf="accion == 'crear'"
                     pButton icon="fa-plus"
                     class="btn red-sunglo"
                     style="float:right" (click)="Crear()" label="Crear"></button>

             <button type="button" *ngIf="accion == 'editar'"
                     pButton icon="fa-pencil"
                     class="btn red-sunglo"
                     style="float:right" (click)="Editar()" label="Editar"></button>
           </div>
         </div>
       </div>

       </form>
     </div>
   </div>
 </p-dialog>

 <div class="row">
 <div class="col-md-12">
   <p-dataTable #dt
     [contextMenu]="cm"
     [value]="Tabla"
     selectionMode="single"
     (onRowClick)="Edit($event)"
     (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
     [rows]="10" [paginator]="true"
     [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
     scrollable="true" scrollWidth="100%">
       <p-column field="fecha" header="Fecha" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
       <p-column field="reaccion" header="Reacción" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
       <p-column field="criterio_de_evaluacion" header="Criterio de Evaluación" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
       <p-column field="descripcion" header="Descripción" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
       <p-column field="estado" header="Estado" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
   </p-dataTable>
 </div>
 </div>
 <div class="row top-30">
 <div class="col-sm-6">
   <div>
     <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
     <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
     <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
   </div>
 </div>
 </div>

 <pre>
 {{ form.value | json }}
 </pre>
