<!-- <p>
  est-asignacion-admin!
</p> -->
<h2>Detalle de Asignación</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
<p-dialog
      header="Detalle de Asignación"
      styleClass="tipoG"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate" #form>
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('periodo').valid && Formulario.get('periodo').touched}">
            <label class="control-label col-md-5 derecha">Periodo</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('periodo').valid && Formulario.get('periodo').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('periodo').valid && Formulario.get('periodo').touched ) }" data-original-title="Seleccione periodo"></i>
                  <select name="periodo" formControlName="periodo" [(ngModel)]="objeto.periodo" placeholder="Seleccione periodo" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha_de_asignacion').valid && Formulario.get('fecha_de_asignacion').touched}">
            <label class="control-label col-md-5 derecha">Fecha de Asignación</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha_de_asignacion').valid && Formulario.get('fecha_de_asignacion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha_de_asignacion').valid && Formulario.get('fecha_de_asignacion').touched ) }" data-original-title="fecha_de_asignacion"></i>
                <p-calendar formControlName='fecha_de_asignacion' [(ngModel)]="objeto.fecha_de_asignacion" name='fecha_de_asignacion' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('monitor').valid && Formulario.get('monitor').touched}">
            <label class="control-label col-md-5 derecha">Monitor</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }" data-original-title="Seleccione monitor"></i>
                  <select name="monitor" formControlName="monitor" [(ngModel)]="objeto.monitor" placeholder="Seleccione monitor" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched}">
            <label class="control-label col-md-5 derecha">Tipo de Cartera</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }" data-original-title="Seleccione tipo_de_cartera"></i>
                  <select name="tipo_de_cartera" formControlName="tipo_de_cartera" [(ngModel)]="objeto.tipo_de_cartera" placeholder="Seleccione tipo_de_cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
            <label class="control-label col-md-5 derecha">Proveedor</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione Proveedor"></i>
                  <select name="proveedor" formControlName="proveedor" [(ngModel)]="objeto.proveedor" placeholder="Seleccione Proveedor" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
            <label class="control-label col-md-5 derecha">Cartera</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione Cartera"></i>
                  <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione Cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('agente').valid && Formulario.get('agente').touched}">
            <label class="control-label col-md-5 derecha">Agente</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('agente').valid && Formulario.get('agente').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('agente').valid && Formulario.get('agente').touched ) }" data-original-title="Seleccione Agente"></i>
                  <select name="agente" formControlName="agente" [(ngModel)]="objeto.agente" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nro_de_evaluacion').valid && Formulario.get('nro_de_evaluacion').touched}">
            <label class="control-label col-md-5 derecha">N° de Evaluación</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('nro_de_evaluacion').valid && Formulario.get('nro_de_evaluacion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nro_de_evaluacion').valid && Formulario.get('nro_de_evaluacion').touched ) }" data-original-title="Seleccione nro_de_evaluacion"></i>
                  <select name="nro_de_evaluacion" formControlName="nro_de_evaluacion" [(ngModel)]="objeto.nro_de_evaluacion" placeholder="Seleccione nro_de_evaluacion" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nro_de_audio').valid && Formulario.get('nro_de_audio').touched}">
            <label class="control-label col-md-5 derecha">N° de Audio</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('nro_de_audio').valid && Formulario.get('nro_de_audio').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nro_de_audio').valid && Formulario.get('nro_de_audio').touched ) }" data-original-title="Seleccione nro_de_audio"></i>
                  <select name="nro_de_audio" formControlName="nro_de_audio" [(ngModel)]="objeto.nro_de_audio" placeholder="Seleccione nro_de_audio" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('reaccion').valid && Formulario.get('reaccion').touched}">
            <label class="control-label col-md-5 derecha">Reacción</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('reaccion').valid && Formulario.get('reaccion').touched ) }" data-original-title="Seleccione reaccion"></i>
                  <select name="reaccion" formControlName="reaccion" [(ngModel)]="objeto.reaccion" placeholder="Seleccione reaccion" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('dni').valid && Formulario.get('dni').touched}">
            <label class="control-label col-md-5 derecha">DNI</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('dni').valid && Formulario.get('dni').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('dni').valid && Formulario.get('dni').touched ) }" data-original-title="Seleccione dni"></i>
                  <select name="dni" formControlName="dni" [(ngModel)]="objeto.dni" placeholder="Seleccione dni" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('telefono').valid && Formulario.get('telefono').touched}">
            <label class="control-label col-md-5 derecha">Teléfono</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('telefono').valid && Formulario.get('telefono').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('telefono').valid && Formulario.get('telefono').touched ) }" data-original-title="Seleccione telefono"></i>
                  <select name="telefono" formControlName="telefono" [(ngModel)]="objeto.telefono" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha_de_llamada').valid && Formulario.get('fecha_de_llamada').touched}">
            <label class="control-label col-md-5 derecha">Fecha de Llamada</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha_de_llamada').valid && Formulario.get('fecha_de_llamada').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha_de_llamada').valid && Formulario.get('fecha_de_llamada').touched ) }" data-original-title="fecha_de_llamada"></i>
                <p-calendar formControlName='fecha_de_llamada' [(ngModel)]="objeto.fecha_de_llamada" name='fecha_de_llamada' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha_de_evaluacion').valid && Formulario.get('fecha_de_evaluacion').touched}">
            <label class="control-label col-md-5 derecha">Fecha de Evaluación</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha_de_evaluacion').valid && Formulario.get('fecha_de_evaluacion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha_de_evaluacion').valid && Formulario.get('fecha_de_evaluacion').touched ) }" data-original-title="fecha_de_evaluacion"></i>
                <p-calendar formControlName='fecha_de_evaluacion' [(ngModel)]="objeto.fecha_de_evaluacion" name='fecha_de_evaluacion' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('audio').valid && Formulario.get('audio').touched}">
            <label class="control-label col-md-5 derecha">Audio</label>
              <div class="col-md-6">
                <div [ngClass]="{'input-icon top': (!Formulario.get('audio').valid && Formulario.get('audio').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('audio').valid && Formulario.get('audio').touched ) }" data-original-title="audio"></i>
                  <p-calendar formControlName='audio' [(ngModel)]="objeto.audio" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                </div>
              </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('resultado').valid && Formulario.get('resultado').touched}">
            <label class="control-label col-md-5 derecha">Resultado</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('resultado').valid && Formulario.get('resultado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('resultado').valid && Formulario.get('resultado').touched ) }" data-original-title="Seleccione resultado"></i>
                  <select name="resultado" formControlName="resultado" [(ngModel)]="objeto.resultado" placeholder="Seleccione resultado" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('porcent_alcance').valid && Formulario.get('porcent_alcance').touched}">
            <label class="control-label col-md-5 derecha">% Alcance</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('porcent_alcance').valid && Formulario.get('porcent_alcance').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('porcent_alcance').valid && Formulario.get('porcent_alcance').touched ) }" data-original-title="Seleccione porcent_alcance"></i>
                  <select name="porcent_alcance" formControlName="porcent_alcance" [(ngModel)]="objeto.porcent_alcance" placeholder="Seleccione porcent_alcance" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  </p-dialog>

  <div class="row">
    <div class="col-md-12">
      <p-dataTable #dt
        [contextMenu]="cm"
        [value]="Tabla"
        selectionMode="single"
        (onRowClick)="Edit($event)"
        (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
        [rows]="10" [paginator]="true"
        [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
        scrollable="true" scrollWidth="100%">
          <p-column [sortable]="true" field="periodo" header="Periodo" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="fecha_de_asignacion" header="Fecha de Asignación" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="monitor" header="Monitor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="tipo_de_cartera" header="Tipo de Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="agente" header="Agente" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="nro_de_evaluacion" header="N° de Evaluación" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="nro_de_audio" header="N° de Audio" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="reaccion" header="Reacción" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="dni" header="DNI" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="telefono" header="Teléfono" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="fecha_de_llamada" header="Fecha de Llamada" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="fecha_de_evaluacion" header="Fecha de Evaluación" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="audio" header="Audio" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="resultado" header="Resultado" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
          <p-column [sortable]="true" field="porcent_alcance" header="% Alcance" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
      </p-dataTable>
    </div>
  </div>
  <div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
  </div>

  <pre>
  {{ Formulario.value | json }}
  </pre>
