<h2 class="titulo">Relación de Equipo Trabajo Cartera</h2>

<p-dialog
      header="Relación de Equipo de Trabajo a Cartera"
      [(visible)]="display_modal"
      [width]="650"
      [responsive]="true"
      [modal]="true"
      [style]="{'margin-top':'30px'}">

  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
         <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched}">
            <label class="control-label col-md-3 derecha">Proveedor</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_proveedor').valid && Formulario.get('id_proveedor').touched ) }" data-original-title=""></i>
                <!-- <select name="id_proveedor" id="id_proveedor" [(ngModel)]="objeto.id_proveedor" class="form-control" formControlName="id_proveedor" #proveedores (change)="cargarCarteras(proveedores.value)"> -->
                <select name="id_proveedor" id="id_proveedor" [(ngModel)]="objeto.id_proveedor" class="form-control" formControlName="id_proveedor" #p (change)="cargarCarteras(p.value)">
                   <option value=""></option>
                   <option
                      *ngFor="let item of proveedores"
                      [value]="item.id">{{ item.razon_social }}</option>
                </select>
             </div>
            </div>
         </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_cartera').valid && Formulario.get('id_cartera').touched}">
              <label class="control-label col-md-3 derecha">Cartera</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('id_cartera').valid && Formulario.get('id_cartera').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_cartera').valid && Formulario.get('id_cartera').touched ) }" data-original-title=""></i>
                  <select name="id_cartera" class="form-control" [(ngModel)]="objeto.id_cartera" formControlName="id_cartera" #c (change)="cargarSegmentos(c.value)">
                     <option value=""></option>
                     <option
                        *ngFor="let item of carteras"
                        [value]="item.id">{{ item.cartera }}</option>
                  </select>
               </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_segmento').valid && Formulario.get('id_segmento').touched}">
                <label class="control-label col-md-3 derecha">Segmento</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('id_segmento').valid && Formulario.get('id_segmento').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_segmento').valid && Formulario.get('id_segmento').touched ) }" data-original-title=""></i>
                    <select name="id_segmento" class="form-control" [(ngModel)]="objeto.id_segmento" formControlName="id_segmento">
                       <option value=""></option>
                       <option
                          *ngFor="let item of segmentos"
                          [value]="item.id">{{ item.nombre }}</option>
                    </select>
                 </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_perfil').valid && Formulario.get('id_perfil').touched}">
                <label class="control-label col-md-3 derecha">Perfil</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('id_perfil').valid && Formulario.get('id_perfil').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_perfil').valid && Formulario.get('id_perfil').touched ) }" data-original-title=""></i>
                    <select name="id_perfil" class="form-control" [(ngModel)]="objeto.id_perfil" formControlName="id_perfil" #pf (change)="cargarResponsables(pf.value)">
                       <option value=""></option>
                       <option
                          *ngFor="let item of perfiles"
                          [value]="item.id">{{ item.perfil }}</option>
                    </select>
                 </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_usuario').valid && Formulario.get('id_usuario').touched}">
                <label class="control-label col-md-3 derecha">Responsable</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('id_usuario').valid && Formulario.get('id_usuario').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_usuario').valid && Formulario.get('id_usuario').touched ) }" data-original-title=""></i>
                    <select name="id_usuario" class="form-control" [(ngModel)]="objeto.id_usuario" formControlName="id_usuario">
                       <option value=""></option>
                       <option
                          *ngFor="let item of usuarios"
                          [value]="item.id">{{ item.ap_paterno }} {{ item.ap_materno }} {{ item.nombres }}</option>
                    </select>
                 </div>
                  </div>
                </div>

                <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_equipo').valid && Formulario.get('id_equipo').touched}">
                  <label class="control-label col-md-3 derecha">Equipo</label>
                  <div class="col-md-9">
                    <div [ngClass]="{'input-icon right': (!Formulario.get('id_equipo').valid && Formulario.get('id_equipo').touched ) }">
                      <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_equipo').valid && Formulario.get('id_equipo').touched ) }" data-original-title=""></i>
                      <select name="id_equipo" class="form-control" [(ngModel)]="objeto.id_equipo" formControlName="id_equipo">
                        <option value=""></option>
                        <option
                           *ngFor="let item of equipos"
                           [value]="item.id">{{ item.equipo_trabajo }}</option>
                      </select>
                    </div>
                   </div>
               </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div style="text-align:right">
                        <button type="button" *ngIf="accion == 'crear'"
                                pButton icon="fa-plus"
                                class="btn red-sunglo"
                                style="float:right" (click)="Crear()" label="Crear" [disabled]="!Formulario.valid"></button>

                        <button type="button" *ngIf="accion == 'editar'"
                                pButton icon="fa-pencil"
                                class="btn red-sunglo"
                                style="float:right" (click)="Editar()" label="Editar" [disabled]="!Formulario.valid"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-dialog>

<!-- <div class="row">
  <div class="col-sm-2">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Proveedor</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Equipos</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Cartera</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Segmento</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Responsable</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Perfil</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tipo_cartera">Estado</label>
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
     <p-dataTable #dt
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)"
      [(selection)]="selectedRecord"
      resizableColumns="true"
      [rows]="10"
      [paginator]="true"
      [pageLinks]="3"
      [rowsPerPageOptions]="[5,10,20]"
      scrollable="true"
      scrollWidth="100%">
        <p-column field="proveedor" header="Proveedor"></p-column>
        <p-column field="cartera" header="Cartera"></p-column>
        <p-column field="segmento" header="Segmento"></p-column>
        <p-column field="equipo" header="Equipo"></p-column>
        <p-column field="responsable" header="Responsable"></p-column>
        <p-column field="perfil" header="Perfil"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
