<h3>Menu</h3>

<p-tabView (onChange)="SelectTab($event)">

    <p-tabPanel header="Contenedor Base" [selected]="true">
      <form [formGroup]="FrmMenuContenedorBase" novalidate="true">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="obj_menu_contenedor_base.id">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBase.controls['id_perfil'].valid && FrmMenuContenedorBase.controls['id_perfil'].touched}">
               <label class="control-label col-md-3 derecha">Perfil</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBase.get('id_perfil').valid && FrmMenuContenedorBase.get('id_perfil').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBase.get('id_perfil').valid && FrmMenuContenedorBase.get('id_perfil').touched ) }" data-original-title="Escriba el nombre del id_perfil"></i>
                       <select name="id_perfil" id="id_perfil" formControlName="id_perfil" [(ngModel)]="obj_menu_contenedor_base.id_perfil" class="form-control">
                           <option value=""></option>
                           <option
                             *ngFor="let item of perfiles"
                           [value]="item.id">{{ item.perfil }}</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBase.controls['nombre'].valid && FrmMenuContenedorBase.controls['nombre'].touched}">
               <label class="control-label col-md-3 derecha">Nombre de contenedor base</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBase.get('nombre').valid && FrmMenuContenedorBase.get('nombre').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBase.get('nombre').valid && FrmMenuContenedorBase.get('nombre').touched ) }" data-original-title="Escriba el nombre del nombre"></i>
                       <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" [(ngModel)]="obj_menu_contenedor_base.nombre" placeholder="Escriba el nombre del nombre">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-3 col-sm-3">
             <div style="text-align:right">
              <button type="button"
                      pButton icon="fa-plus"
                      class="btn red-sunglo"
                      style="float:right" (click)="CrearMenuBase()" label="Crear" [disabled]="!FrmMenuContenedorBase.valid"></button>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <p-dataTable
              [value]="TablaMenuContenedorBase"
              selectionMode="single"
              resizableColumns="true"
              [rows]="10"
              (onRowClick)="EditBase($event)"
              (onRowDblclick)="EditBase($event)"
              [paginator]="true"
              [pageLinks]="3"
              [rowsPerPageOptions]="[5,10,20]"
              scrollable="true"
              scrollWidth="100%">

              <p-column field="id" header="ID" [style]="{'width':'30px'}"></p-column>
              <p-column field="perfil" header="Perfil" [style]="{'width':'200px'}"></p-column>
              <p-column field="nombre" header="Nombre" [style]="{'width':'200px'}"></p-column>
              <p-column field="estado" header="Estado" [style]="{'width':'70px'}"></p-column>
          </p-dataTable>

        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Menú Contenedor">
      <form [formGroup]="FrmMenuContenedor" novalidate="true">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="obj_menu_contenedor.id">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['id_perfil_menu_contenedor'].valid && FrmMenuContenedor.controls['id_perfil_menu_contenedor'].touched}">
               <label class="control-label col-md-3 derecha">Perfil Menú Contenedor</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('id_perfil_menu_contenedor').valid && FrmMenuContenedor.get('id_perfil_menu_contenedor').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('id_perfil_menu_contenedor').valid && FrmMenuContenedor.get('id_perfil_menu_contenedor').touched ) }" data-original-title="Escriba el nombre del id_perfil_menu_contenedor"></i>
                       <select name="id_perfil_menu_contenedor" id="id_perfil_menu_contenedor" formControlName="id_perfil_menu_contenedor" [(ngModel)]="obj_menu_contenedor.id_perfil_menu_contenedor" class="form-control">
                           <option value=""></option>
                           <option
                             *ngFor="let item of perfil_menu_contenedor_base"
                            [value]="item.id">{{item.nombre}}</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['nombre'].valid && FrmMenuContenedor.controls['nombre'].touched}">
               <label class="control-label col-md-3 derecha">Nombre</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('nombre').valid && FrmMenuContenedor.get('nombre').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('nombre').valid && FrmMenuContenedor.get('nombre').touched ) }" data-original-title="Escriba el nombre del nombre"></i>
                       <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" [(ngModel)]="obj_menu_contenedor.nombre" placeholder="Escriba el nombre del nombre">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['imagen'].valid && FrmMenuContenedor.controls['imagen'].touched}">
               <label class="control-label col-md-3 derecha">Imagen label</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('imagen').valid && FrmMenuContenedor.get('imagen').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('imagen').valid && FrmMenuContenedor.get('imagen').touched ) }" data-original-title="Escriba el nombre de la imagen"></i>
                       <input type="text" class="form-control" formControlName="imagen" id="imagen" name="imagen" [(ngModel)]="obj_menu_contenedor.imagen" placeholder="Escriba el nombre de la imagen">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['nivel'].valid && FrmMenuContenedor.controls['nivel'].touched}">
               <label class="control-label col-md-3 derecha">Nivel</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('nivel').valid && FrmMenuContenedor.get('nivel').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('nivel').valid && FrmMenuContenedor.get('nivel').touched ) }" data-original-title="Seleccione el nivel"></i>
                       <select name="nivel" formControlName="nivel" [(ngModel)]="obj_menu_contenedor.nivel" class="form-control">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['orden'].valid && FrmMenuContenedor.controls['orden'].touched}">
               <label class="control-label col-md-3 derecha">Orden</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('orden').valid && FrmMenuContenedor.get('orden').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('orden').valid && FrmMenuContenedor.get('orden').touched ) }" data-original-title="Seleccione el orden"></i>
                       <input type="text" name="orden" value="orden" formControlName="orden" [(ngModel)]="obj_menu_contenedor.orden" class="form-control">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedor.controls['id_menu_contenedor'].valid && FrmMenuContenedor.controls['id_menu_contenedor'].touched}">
               <label class="control-label col-md-3 derecha">Contenedor</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedor.get('id_menu_contenedor').valid && FrmMenuContenedor.get('id_menu_contenedor').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedor.get('id_menu_contenedor').valid && FrmMenuContenedor.get('id_menu_contenedor').touched ) }" data-original-title="Seleccione el Menu Contenedor"></i>
                       <select name="id_menu_contenedor" formControlName="id_menu_contenedor" [(ngModel)]="obj_menu_contenedor.id_menu_contenedor" class="form-control">
                           <option value=""></option>
                           <option
                           *ngFor="let item of menu_contenedor"
                           [value]="item.id">{{item.menu}}</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-3 col-sm-3">
             <div style="text-align:right">
              <button type="button"
                      pButton icon="fa-plus"
                      class="btn red-sunglo"
                      style="float:right" (click)="CrearMenuContenedor()" label="Crear" [disabled]="!FrmMenuContenedor.valid"></button>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12">
          <br>
          <p-dataTable
              [value]="TablaMenuContenedor"
              selectionMode="single"
              [(selection)]="selectedRecord"
              resizableColumns="true"
              [rows]="10"
              [paginator]="true"
              [pageLinks]="3"
              [rowsPerPageOptions]="[5,10,20]"
              scrollable="true"
              scrollWidth="100%">

              <p-column field="id" header="ID" [style]="{'width':'30px'}"></p-column>
              <p-column field="nombre_base" header="Base" [style]="{'width':'80px'}"></p-column>
              <p-column field="menu" header="Menú" [style]="{'width':'200px'}"></p-column>
              <p-column field="orden" header="Orden" [style]="{'width':'70px'}"></p-column>
              <p-column field="nivel" header="Nivel" [style]="{'width':'70px'}"></p-column>
              <p-column field="imagen" header="Imagen" [style]="{'width':'70px'}"></p-column>
          </p-dataTable>

        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Menú Item">
      <form [formGroup]="FrmMenuItem" novalidate="true">
        <input type="hidden" name="id" [(ngModel)]="obj_menu_item.id" formControlName="id">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuItem.controls['nombre'].valid && FrmMenuItem.controls['nombre'].touched}">
               <label class="control-label col-md-3 derecha">Nombre</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuItem.get('nombre').valid && FrmMenuItem.get('nombre').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuItem.get('nombre').valid && FrmMenuItem.get('nombre').touched ) }" data-original-title="Escriba el nombre"></i>
                       <input type="text" name="nombre" formControlName="nombre" [(ngModel)]="obj_menu_item.nombre" class="form-control" placeholder="Escriba el nombre del elemento de menú">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuItem.controls['url'].valid && FrmMenuItem.controls['url'].touched}">
               <label class="control-label col-md-3 derecha">URL</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuItem.get('url').valid && FrmMenuItem.get('url').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuItem.get('url').valid && FrmMenuItem.get('url').touched ) }" data-original-title="Escriba la URL"></i>
                       <input type="text" class="form-control" formControlName="url" name="url" [(ngModel)]="obj_menu_item.url" placeholder="Escriba la URL">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuItem.controls['imagen'].valid && FrmMenuItem.controls['imagen'].touched}">
               <label class="control-label col-md-3 derecha">Imagen</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuItem.get('imagen').valid && FrmMenuItem.get('imagen').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuItem.get('imagen').valid && FrmMenuItem.get('imagen').touched ) }" data-original-title="Escriba el nombre de la imagen"></i>
                       <input type="text" class="form-control" formControlName="imagen" id="imagen" name="imagen" [(ngModel)]="obj_menu_item.imagen" placeholder="Escriba el nombre de la imagen">
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-3 col-sm-3">
             <div style="text-align:right">
              <button type="button"
                      pButton icon="fa-plus"
                      class="btn red-sunglo"
                      style="float:right" (click)="CrearMenuItem()" label="Crear" [disabled]="!FrmMenuItem.valid"></button>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12">
          <br>
          <p-dataTable
              [value]="TablaMenuItem"
              selectionMode="single"
              [(selection)]="selectedRecord"
              resizableColumns="true"
              [rows]="10"
              [paginator]="true"
              [pageLinks]="3"
              [rowsPerPageOptions]="[5,10,20]"
              scrollable="true"
              scrollWidth="100%">
              <p-column field="id" header="ID" [style]="{'width':'30px'}"></p-column>
              <p-column field="nombre" header="Nombre" [style]="{'width':'200px'}"></p-column>
              <p-column field="imagen" header="Imagen" [style]="{'width':'100px'}"></p-column>
          </p-dataTable>

        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Contenedor - Item">
      <form [formGroup]="FrmMenuContenedorItem" novalidate="true">
        <input type="hidden" name="id" [(ngModel)]="obj_menu_contenedor_item.id" formControlName="id">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorItem.controls['id_menu_contenedor'].valid && FrmMenuContenedorItem.controls['id_menu_contenedor'].touched}">
               <label class="control-label col-md-3 derecha">Menú Contenedor</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedorItem.get('id_menu_contenedor').valid && FrmMenuContenedorItem.get('id_menu_contenedor').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorItem.get('id_menu_contenedor').valid && FrmMenuContenedorItem.get('id_menu_contenedor').touched ) }" data-original-title="Escriba el nombre del id_menu_contenedor"></i>
                       <select name="id_menu_contenedor" id="id_menu_contenedor" formControlName="id_menu_contenedor" [(ngModel)]="obj_menu_contenedor_item.id_menu_contenedor" class="form-control">
                           <option value=""></option>
                           <option
                             *ngFor="let item of menu_contenedor"
                             [value]="item.id">{{item.nivel}} - {{item.menu}} - [{{item.nombre_base}}]</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group row">
               <label class="control-label col-md-3">Filtrar Nivel</label>
                <div class="col-md-9">
                   <div>
                       <select name="mostrar_nivel" class="form-control" #n (change)="cargarContenedores(n.value)">
                           <option value=""></option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="todos">Todos</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorItem.controls['id_menu_item'].valid && FrmMenuContenedorItem.controls['id_menu_item'].touched}">
               <label class="control-label col-md-3 derecha">Menú - Item</label>
                <div class="col-md-9">
                   <div [ngClass]="{'input-icon right': (!FrmMenuContenedorItem.get('id_menu_item').valid && FrmMenuContenedorItem.get('id_menu_item').touched ) }">
                       <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorItem.get('id_menu_item').valid && FrmMenuContenedorItem.get('id_menu_item').touched ) }" data-original-title="Escriba el nombre del nombre"></i>
                       <select name="id_menu_item" id="id_menu_item" formControlName="id_menu_item" [(ngModel)]="obj_menu_contenedor_item.id_menu_item" class="form-control">
                           <option value=""></option>
                           <option
                             *ngFor="let item of menu_item"
                             [value]="item.id">{{item.nombre}}</option>
                       </select>
                   </div>
               </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-3 col-sm-3">
             <div style="text-align:right">
              <button type="button"
                      pButton icon="fa-plus"
                      class="btn red-sunglo"
                      style="float:right" (click)="CrearMenuContenedorItem()" label="Crear" [disabled]="!FrmMenuContenedorItem.valid"></button>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12">
          <br>
          <p-dataTable
              [value]="TablaContenedorItem"
              selectionMode="single"
              [(selection)]="selectedRecord"
              resizableColumns="true"
              [rows]="10"
              [paginator]="true"
              [pageLinks]="3"
              [rowsPerPageOptions]="[5,10,20]"
              scrollable="true"
              scrollWidth="100%">

              <p-column field="id" header="ID" [style]="{'width':'30px'}"></p-column>
              <p-column field="nombre_base" header="Menú Base" [style]="{'width':'200px'}"></p-column>
              <p-column field="contenedor" header="Contenedor" [style]="{'width':'200px'}"></p-column>
              <p-column field="item" header="Item" [style]="{'width':'200px'}"></p-column>
              <p-column field="estado" header="Estado" [style]="{'width':'70px'}"></p-column>
          </p-dataTable>

        </div>
      </div>
    </p-tabPanel>
</p-tabView>

<!-- <p-dialog header="Contenedor Base" [(visible)]="display_modal_base" [width]="650" [responsive]="true" [modal]="true" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">

      <form [formGroup]="FrmMenuContenedorBaseEdit" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="obj_menu_contenedor_baseEdit.id">
        <div class="row">
          <div class="col-md-12">

              <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched}">
                <label class="control-label col-md-3 derecha">Perfil</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched ) }" data-original-title=""></i>
                    <select name="id_perfil" id="id_perfil" class="form-control" [(ngModel)]="obj_menu_contenedor_baseEdit.id_perfil" formControlName="id_perfil">
                      <option
                        *ngFor="let item of perfiles"
                        [value]="item.id">{{ item.perfil }}</option>
                    </select>
                  </div>
                  </div>
                </div>


                <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched}">
                  <label class="control-label col-md-3 derecha">Nombre de contenedor base</label>
                  <div class="col-md-9">
                    <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched ) }">
                      <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched ) }" data-original-title="Escriba el nombre del Producto"></i>
                      <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="obj_menu_contenedor_baseEdit.nombre" name="nombre" placeholder="Escriba el nombre">
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="button"
                          pButton icon="fa-pencil"
                          class="btn red-sunglo"
                          [disabled]="!FrmMenuContenedorBaseEdit.valid"
                          style="float:right" (click)="EditarBase()" label="Editar"></button>
                </div>
              </div>

            </form>


    </div>
  </div>
</p-dialog> -->

<p-dialog header="Menú Contenedor" [(visible)]="display_modal_menu_contenedor" [width]="650" [responsive]="true" [modal]="true" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">

      <form [formGroup]="FrmMenuContenedorBaseEdit" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="obj_menu_contenedor_baseEdit.id">
        <div class="row">
          <div class="col-md-12">

              <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched}">
                <label class="control-label col-md-3 derecha">Perfil</label>
                <div class="col-md-9">
                  <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBaseEdit.get('id_perfil').valid && FrmMenuContenedorBaseEdit.get('id_perfil').touched ) }" data-original-title=""></i>
                    <select name="id_perfil" id="id_perfil" class="form-control" [(ngModel)]="obj_menu_contenedor_baseEdit.id_perfil" formControlName="id_perfil">
                      <option
                        *ngFor="let item of perfiles"
                        [value]="item.id">{{ item.perfil }}</option>
                    </select>
                  </div>
                  </div>
                </div>


                <div class="form-group row" [ngClass]="{'has-error': !FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched}">
                  <label class="control-label col-md-3 derecha">Nombre de contenedor base</label>
                  <div class="col-md-9">
                    <div [ngClass]="{'input-icon right': (!FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched ) }">
                      <i [ngClass]="{'fa fa-warning tooltips': (!FrmMenuContenedorBaseEdit.get('nombre').valid && FrmMenuContenedorBaseEdit.get('nombre').touched ) }" data-original-title="Escriba el nombre del Producto"></i>
                      <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="obj_menu_contenedor_baseEdit.nombre" name="nombre" placeholder="Escriba el nombre">
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="button"
                          pButton icon="fa-pencil"
                          class="btn red-sunglo"
                          [disabled]="!FrmMenuContenedorBaseEdit.valid"
                          style="float:right" (click)="EditarBase()" label="Editar"></button>
                </div>
              </div>

            </form>
    </div>
  </div>
</p-dialog>
