<h2>Relación Monitor - Cartera</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl> Es la cantidad que puede evalar el monitor -->
<p-dialog
      header="Relación Monitor - Cartera"
      styleClass="tipoE"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
      <div class="row top-30">
        <div class="col-md-12">
          <form [formGroup]="Formulario" novalidate="novalidate" #form>
            <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">

          <div class="row">
            <div class="col-md-12">

             <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
                <label class="control-label col-md-4 derecha">Fecha</label>
                  <div class="col-md-4">
                    <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                      <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                      <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
                    </div>
                  </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('monitor').valid && Formulario.get('monitor').touched}">
                <label class="control-label col-md-4 derecha">Monitor</label>
                <div class="col-md-8">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('monitor').valid && Formulario.get('monitor').touched ) }" data-original-title="Seleccione monitor"></i>
                      <select name="monitor" formControlName="monitor" [(ngModel)]="objeto.monitor" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched}">
                <label class="control-label col-md-4 derecha">ipo de Cartera</label>
                <div class="col-md-6">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }" data-original-title="Seleccione ipo de Cartera"></i>
                      <select name="tipo_de_cartera" formControlName="tipo_de_cartera" [(ngModel)]="objeto.tipo_de_cartera" placeholder="Seleccione ipo de Cartera" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
                <label class="control-label col-md-4 derecha">Proveedor</label>
                <div class="col-md-6">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione Proveedor"></i>
                      <select name="proveedor" formControlName="proveedor" [(ngModel)]="objeto.proveedor" placeholder="Seleccione Proveedor" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
                <label class="control-label col-md-4 derecha">Cartera</label>
                <div class="col-md-6">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione Cartera"></i>
                      <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione Cartera" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('antiguo').valid && Formulario.get('antiguo').touched}">
                <label class="control-label col-md-4 derecha">Antiguo</label>
                <div class="col-md-7">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('antiguo').valid && Formulario.get('antiguo').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('antiguo').valid && Formulario.get('antiguo').touched ) }" data-original-title="Seleccione Antiguo"></i>
                    <input type="text" class="form-control" formControlName='antiguo' [(ngModel)]="objeto.antiguo" name='antiguo' placeholder="Escriba Antiguo">
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nuevo').valid && Formulario.get('nuevo').touched}">
                <label class="control-label col-md-4 derecha">Nuevo</label>
                <div class="col-md-7">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('nuevo').valid && Formulario.get('nuevo').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nuevo').valid && Formulario.get('nuevo').touched ) }" data-original-title="Seleccione Nuevo"></i>
                    <input type="text" class="form-control" formControlName='nuevo' [(ngModel)]="objeto.nuevo" name='nuevo' placeholder="Escriba Nuevo">
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('transito').valid && Formulario.get('transito').touched}">
                <label class="control-label col-md-4 derecha">Tránsito</label>
                <div class="col-md-4">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('transito').valid && Formulario.get('transito').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('transito').valid && Formulario.get('transito').touched ) }" data-original-title="Seleccione el tránsito"></i>
                      <select name="transito" formControlName="transito" [(ngModel)]="objeto.transito" placeholder="Seleccione tránsito" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('asignacion').valid && Formulario.get('asignacion').touched}">
                <label class="control-label col-md-4 derecha">Asignación</label>
                <div class="col-md-4">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('asignacion').valid && Formulario.get('asignacion').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('asignacion').valid && Formulario.get('asignacion').touched ) }" data-original-title="Seleccione el asignación"></i>
                      <select name="asignacion" formControlName="asignacion" [(ngModel)]="objeto.asignacion" placeholder="Seleccione asignación" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
                <label class="control-label col-md-4 derecha">Estado</label>
                <div class="col-md-4">
                  <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                    <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                      <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                      <option [value]="item">{{ item }}</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
          </div>

      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>

      </form>
    </div>
  </div>
</p-dialog>

<div class="row">
<div class="col-md-12">
  <p-dataTable #dt
    [contextMenu]="cm"
    [value]="Tabla"
    selectionMode="single"
    (onRowClick)="Edit($event)"
    (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
    [rows]="10" [paginator]="true"
    [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
    scrollable="true" scrollWidth="100%">
        <p-column [sortable]="true" field="fecha" header="Fecha" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="monitor" header="Monitor" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="tipo_de_cartera" header="Tipo de Cartera" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="antiguo" header="Antiguo" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="nuevo" header="Nuevo" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="transito" header="Tránsito" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="asignacion" header="Asignación" [style]="{'width':'100px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
      </p-dataTable>
    </div>
    </div>
    <div class="row top-30">
    <div class="col-sm-6">
      <div>
        <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
        <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
        <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
      </div>
    </div>
    </div>

<pre>
{{ form.value | json }}
</pre>
