<h2 class="titulo">Relación Perfil - Menú</h2>

<p-dialog header="Asignar Menú a Perfil" [(visible)]="display_modal" [width]="650" [responsive]="true" [modal]="true" (onShow)="limpiarForm()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12"><form [formGroup]="frmRelPerfilMenu" novalidate="novalidate" (ngSubmit)="asignarPerfilMenu()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !frmRelPerfilMenu.get('idPerfil').valid && frmRelPerfilMenu.get('idPerfil').touched}">
            <label class="control-label col-md-3 derecha">Perfil</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!frmRelPerfilMenu.get('idPerfil').valid && frmRelPerfilMenu.get('idPerfil').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!frmRelPerfilMenu.get('idPerfil').valid && frmRelPerfilMenu.get('idPerfil').touched ) }" data-original-title=""></i>
                <select name="idPerfil" id="idPerfil" class="form-control" formControlName="idPerfil"></select>		</div>
              </div>
            </div>


            <div class="form-group row" [ngClass]="{'has-error': !frmRelPerfilMenu.get('idMenu').valid && frmRelPerfilMenu.get('idMenu').touched}">
              <label class="control-label col-md-3 derecha">Menú</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!frmRelPerfilMenu.get('idMenu').valid && frmRelPerfilMenu.get('idMenu').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!frmRelPerfilMenu.get('idMenu').valid && frmRelPerfilMenu.get('idMenu').touched ) }" data-original-title=""></i>
                  <select name="idMenu" class="form-control" formControlName="idMenu"></select>		</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div style="text-align:right">
                <button type="submit" class="btn red-sunglo" [disabled]="!frmRelPerfilMenu.valid">Asignar Menú a Perfil</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-dialog>

<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row derecha">
      <label for="tipo_cartera" class="col-sm-6 col-form-label">Perfil</label>
      <div class="col-sm-6">
        <select name="tipo_cartera" id="tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group row">
      <label for="perfil" class="col-sm-4 col-form-label">Menú</label>
      <div class="col-sm-8">
        <select name="perfil" id="perfil" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
	 <p-dataTable [value]="Perfiles" scrollable="true" scrollHeight="200px" scrollWidth="100%">
			  <p-column field="id" header="ID"></p-column>
        <p-column field="perfil" header="Perfil"></p-column>
        <p-column field="menu" header="Menú"></p-column>
        <p-column field="opciones" header="Opciones"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div style="">
      <button class="btn red-sunglo" (click)="display_modal = true">Asignar Menú - Perfil</button>
    </div>
  </div>
</div>
