<h2 class="titulo">Estado de ventas</h2>

<p-dialog header="Modificación de estados" [(visible)]="display_modal" [width]="1000" [responsive]="true" [modal]="true" (onShow)="limpiarForm()" [style]="{'margin-top':'30px'}">
	  <div class="row top-30">
      <form [formGroup]="frmModificarEstados" novalidate="novalidate" (ngSubmit)="modificar()">
	    <div class="col-md-12">
        <div class="row">
        <div class="col-md-6">

          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('fecha').valid && frmModificarEstados.get('fecha').touched}">
          <label class="control-label col-md-3 derecha">Fecha</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('fecha').valid && frmModificarEstados.get('fecha').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('fecha').valid && frmModificarEstados.get('fecha').touched ) }" data-original-title="Escriba la Fecha"></i>
          			<input type="text" class="form-control" formControlName="fecha" name="fecha" id="fecha" placeholder="Escriba la Fecha">
              </div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('dni').valid && frmModificarEstados.get('dni').touched}">
          <label class="control-label col-md-3 derecha">Escriba el DNI del cliente</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('dni').valid && frmModificarEstados.get('dni').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('dni').valid && frmModificarEstados.get('dni').touched ) }" data-original-title="DNI"></i>
          			<input type="text" class="form-control" formControlName="dni" name="dni" placeholder="DNI">		</div>
          	</div>
          </div>


          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('cliente').valid && frmModificarEstados.get('cliente').touched}">
            <label class="control-label col-md-3 derecha">Nombre de cliente</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('cliente').valid && frmModificarEstados.get('cliente').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('cliente').valid && frmModificarEstados.get('cliente').touched ) }" data-original-title="Escriba el nombre del cliente"></i>
          			<input type="text" class="form-control" formControlName="cliente" name="cliente" placeholder="Escriba el nombre del cliente">		</div>
          	</div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('asesor').valid && frmModificarEstados.get('asesor').touched}">
          <label class="control-label col-md-3 derecha">Asesor</label>
          <div class="col-md-9">
            <div [ngClass]="{'input-icon right': (!frmModificarEstados.get('asesor').valid && frmModificarEstados.get('asesor').touched ) }">
              <i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('asesor').valid && frmModificarEstados.get('asesor').touched ) }" data-original-title="Escriba el nombre del Asesor"></i>
              <input type="text" class="form-control" formControlName="asesor" name="asesor" placeholder="Escriba el nombre del Asesor">		</div>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('importe').valid && frmModificarEstados.get('importe').touched}">
            <label class="control-label col-md-3 derecha">Importe</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!frmModificarEstados.get('importe').valid && frmModificarEstados.get('importe').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('importe').valid && frmModificarEstados.get('importe').touched ) }" data-original-title="Ingrese el importe"></i>
                <input type="text" class="form-control" formControlName="importe" name="importe" placeholder="Ingrese el importe">		</div>
              </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('firmas').valid && frmModificarEstados.get('firmas').touched}">
          <label class="control-label col-md-3 derecha">Firmas</label>
            <div class="col-md-9">
              <div [ngClass]="{'input-icon right': (!frmModificarEstados.get('firmas').valid && frmModificarEstados.get('firmas').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('firmas').valid && frmModificarEstados.get('firmas').touched ) }" data-original-title=""></i>
                <select name="firmas" class="form-control" formControlName="firmas"></select>		</div>
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('documento').valid && frmModificarEstados.get('documento').touched}">
          <label class="control-label col-md-3 derecha">Documento</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('documento').valid && frmModificarEstados.get('documento').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('documento').valid && frmModificarEstados.get('documento').touched ) }" data-original-title=""></i>
          			<select name="documento" class="form-control" formControlName="documento"></select>		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('banco').valid && frmModificarEstados.get('banco').touched}">
          <label class="control-label col-md-3 derecha">Banco</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('banco').valid && frmModificarEstados.get('banco').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('banco').valid && frmModificarEstados.get('banco').touched ) }" data-original-title=""></i>
          			<select name="banco" class="form-control" formControlName="banco"></select>		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('desembolso').valid && frmModificarEstados.get('desembolso').touched}">
          <label class="control-label col-md-3 derecha">Desembolso</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('desembolso').valid && frmModificarEstados.get('desembolso').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('desembolso').valid && frmModificarEstados.get('desembolso').touched ) }" data-original-title=""></i>
          			<select name="desembolso" class="form-control" formControlName="desembolso"></select>		</div>
          	</div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('conformidad').valid && frmModificarEstados.get('conformidad').touched}">
          <label class="control-label col-md-3 derecha">Conformidad</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('conformidad').valid && frmModificarEstados.get('conformidad').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('conformidad').valid && frmModificarEstados.get('conformidad').touched ) }" data-original-title=""></i>
          			<select name="conformidad" class="form-control" formControlName="conformidad"></select>		</div>
          	</div>
          </div>


          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('conformidad_banco').valid && frmModificarEstados.get('conformidad_banco').touched}">
          <label class="control-label col-md-3 derecha">Banco</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('conformidad_banco').valid && frmModificarEstados.get('conformidad_banco').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('conformidad_banco').valid && frmModificarEstados.get('conformidad_banco').touched ) }" data-original-title=""></i>
          			<select name="conformidad_banco" class="form-control" formControlName="conformidad_banco"></select>		</div>
          	</div>
          </div>


          <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('observacion').valid && frmModificarEstados.get('observacion').touched}">
          <label class="control-label col-md-3 derecha">Observación</label>
          	<div class="col-md-9">
          		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('observacion').valid && frmModificarEstados.get('observacion').touched ) }">
          			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('observacion').valid && frmModificarEstados.get('observacion').touched ) }" data-original-title="Escriba la observación"></i>
          			<textarea class="form-control" formControlName="observacion" name=observacion placeholder="Escriba la observación"></textarea>		</div>
          	</div>
          </div>


  				</div>
          <div class="col-md-6">
            <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('fecha_firmas').valid && frmModificarEstados.get('fecha_firmas').touched}">
            <label class="control-label col-md-3 derecha">Fecha</label>
            	<div class="col-md-9">
            		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('fecha_firmas').valid && frmModificarEstados.get('fecha_firmas').touched ) }">
            			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('fecha_firmas').valid && frmModificarEstados.get('fecha_firmas').touched ) }" data-original-title=""></i>
            			<select name="fecha_firmas" class="form-control" formControlName="fecha_firmas"></select>		</div>
            	</div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('documento_fecha').valid && frmModificarEstados.get('documento_fecha').touched}">
            <label class="control-label col-md-3 derecha">Fecha</label>
            	<div class="col-md-9">
            		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('documento_fecha').valid && frmModificarEstados.get('documento_fecha').touched ) }">
            			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('documento_fecha').valid && frmModificarEstados.get('documento_fecha').touched ) }" data-original-title=""></i>
            			<select name="documento_fecha" class="form-control" formControlName="documento_fecha"></select>		</div>
            	</div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('banco_fecha').valid && frmModificarEstados.get('banco_fecha').touched}">
            <label class="control-label col-md-3 derecha">Fecha</label>
            	<div class="col-md-9">
            		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('banco_fecha').valid && frmModificarEstados.get('banco_fecha').touched ) }">
            			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('banco_fecha').valid && frmModificarEstados.get('banco_fecha').touched ) }" data-original-title=""></i>
            			<select name="banco_fecha" class="form-control" formControlName="banco_fecha"></select>		</div>
            	</div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': !frmModificarEstados.get('desembolso_banco').valid && frmModificarEstados.get('desembolso_banco').touched}">
            <label class="control-label col-md-3 derecha">Fecha</label>
            	<div class="col-md-9">
            		<div [ngClass]="{'input-icon right': (!frmModificarEstados.get('desembolso_banco').valid && frmModificarEstados.get('desembolso_banco').touched ) }">
            			<i [ngClass]="{'fa fa-warning tooltips': (!frmModificarEstados.get('desembolso_banco').valid && frmModificarEstados.get('desembolso_banco').touched ) }" data-original-title=""></i>
            			<select name="desembolso_banco" class="form-control" formControlName="desembolso_banco"></select>		</div>
            	</div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div style="text-align:right">
              <button type="submit" class="btn red-sunglo" [disabled]="!frmModificarEstados.valid">Crear modificar estados</button>
            </div>
          </div>
        </div>
    </div>
  </form>
  </div>
</p-dialog>


<div class="row">
  <div class="col-sm-2">
    <label for="proveedor">Inicio</label><br>
    <!-- <select name="proveedor" id="proveedor" class="form-control">
      <option value="">Seleccionar</option>
    </select> -->
    <p-calendar [(ngModel)]="inicio" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{date3|date}}</span>
  </div>
  <div class="col-sm-2">
    <label for="cartera">Fin</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <!-- <select name="cartera" id="cartera" class="form-control">
        <option value="">Seleccionar</option>
      </select> -->
      <p-calendar [(ngModel)]="fin" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{date3|date}}</span>
    </div>
  </div>
</div>

<!-- <div class="row top-30">
  <div class="col-sm-2">
    <label for="asesor">Asesor</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="asesor" id="asesor" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <label for="asesor">Firmas</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="firmas" id="firmas" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <label for="documentos">Documentos</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="documentos" id="documentos" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <label for="banco">Banco</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="banco" id="banco" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <label for="desembolso">Desembolso</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="desembolso" id="desembolso" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <label for="buscar_cliente">BUSCAR CLIENTE</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <select name="buscar_cliente" id="buscar_cliente" class="form-control">
        <option value="">Seleccionar</option>
      </select>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
	 <p-dataTable [value]="Perfiles" scrollable="true" scrollHeight="200px" scrollWidth="100%">
        <p-column field="fecha" header="Fecha"></p-column>
        <p-column field="dni" header="DNI"></p-column>
        <p-column field="cliente" header="Cliente"></p-column>
        <p-column field="asesor" header="Asesor"></p-column>
        <p-column field="importe" header="Importe"></p-column>
        <p-column field="firma" header="Firma"></p-column>
        <p-column field="documento" header="Documento"></p-column>
        <p-column field="banco" header="Banco"></p-column>
        <p-column field="desembolso" header="Desembolso"></p-column>
        <p-column field="observaciones" header="Observaciones"></p-column>
        <p-column field="conformidad" header="Conformidad"></p-column>
        <p-column field="editar_estados" header="Editar Estados"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-4">
    <div class="form-group row">
      <label for="justificaciones" class="col-sm-8 col-form-label">Modificación de Estados Masivo</label>
      <div class="col-sm-4">
        <button class="btn red-sunglo" (click)="display_modal = !display_modal">Botón</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
  </div>
  <div class="col-sm-6">
    <div style="text-align: right">
      <button class="btn btn-primary">Exportar</button>
      <button class="btn btn-default">Regresar</button>
    </div>
  </div>
</div>
