<h2>Agregar Reacción</h2>
<p-dataTable [value]="agr_reaccion" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="nombre" header="Nombre"></p-column>
    <p-column field="porcent_de_aprobacion" header="% de Aprobación"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
