<h2>Agregar Relación Justificación - Reacción</h2>
<p-dataTable [value]="agr_rel_justif_reacc" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="resultado" header="Resultado"></p-column>
    <p-column field="justificación" header="Justificación"></p-column>
    <p-column field="reaccion" header="Reacción"></p-column>
    <p-column field="descripcion" header="Descripcion"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
