/* You can add global styles to this file, and also import other style files */
a.link-header-logo {
  font-size: 1.9em;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 21px;
}

div.top-30 {
  margin-top: 30px
}

.page-header.navbar {
    background: #374c61;
}

.ui-dialog .ui-dialog-content {
  overflow: hidden;
  padding: 20px;
}
.ui-widget-header {
  background: #374c61;
}

small.text-red {
  color: red;
}

label.derecha {
  text-align: right;
}
label.centro {
  text-align: center;
}

label.izquierda {
  text-align: left;
}

input[type=text].date-campanas {
  width: 383px;
  height: 34px;
  display: inline-block;
  margin-left: -5px;
  pointer-events: none;
}

input[type=text].fecha-normal {
  width: 314px;
  height: 34px;
  margin-left: -15px;
}




/*Tabla de campañas*/
table.tabla-campanas {
  border: 1px solid #d4d4d4;
  background: #fafafa;
  color: #081c22;
  width: 70%;
  margin-bottom: 20px;
}

table.tabla-campanas tr th {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

table.tabla-campanas tr td {
  padding: 5px;
  text-align: center;
}
/********************************/

table.tabla-campanas tr td.selected {
  background: #eecc00;
}

table.tabla-campanas tr td.values {
  cursor: pointer;
}

h2.titulo {
  margin-bottom: 30px;
}

div.ui-growl-item-container.ui-state-highlight.ui-corner-all.ui-shadow.ui-growl-message-success {
   background: #4CAF50;
   font-weight: bold;
   color: white;
   padding: 3px;
}

div.ui-growl-item-container.ui-state-highlight.ui-corner-all.ui-shadow.ui-growl-message-error {
   background: #f44336;
   font-weight: bold;
   color: white;
   padding: 3px;
}

div.ui-growl-item-container.ui-state-highlight.ui-corner-all.ui-shadow.ui-growl-message-info {
   background: #2196f3;
   font-weight: bold;
   color: white;
   padding: 3px;
}

div.ui-growl-item-container.ui-state-highlight.ui-corner-all.ui-shadow.ui-growl-message-warn {
   background: #FFB300;
   font-weight: bold;
   color: white;
   padding: 3px;
}

select.ui-datepicker-month.ng-tns-c3-17 {
   color: black;
}

span.ui-growl-image, div.ui-growl-message  {
  margin-top: 10px;
}

select.ui-datepicker-month, select.ui-datepicker-year {
  color:black;
}

.usuario-dialog div.ui-dialog-content {
  height: 100%;
  min-height: 630px;
}
.text-muted {
  color: red;
}
