<h2>Día de Corte por Cartera</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
<p-dialog
      header="Día de Corte por Cartera"
      styleClass="tipoC"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate" #form>
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">

      <div class="row">
        <div class="col-md-12">
          <!-- <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
          <label class="control-label col-md-4 derecha">Fecha</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div> -->

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_cartera').valid && Formulario.get('tipo_cartera').touched}">
            <label class="control-label col-md-4 derecha">Tipo de Cartera</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_cartera').valid && Formulario.get('tipo_cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_cartera').valid && Formulario.get('tipo_cartera').touched ) }" data-original-title="Seleccione Tipo de Cartera"></i>
                  <select name="tipo_cartera" formControlName="tipo_cartera" [(ngModel)]="objeto.tipo_cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('proveedor').valid && Formulario.get('proveedor').touched}">
            <label class="control-label col-md-4 derecha">Proveedor</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('proveedor').valid && Formulario.get('proveedor').touched ) }" data-original-title="Seleccione Proveedor"></i>
                  <select name="proveedor" formControlName="proveedor" [(ngModel)]="objeto.proveedor" placeholder="Seleccione Proveedor" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
            <label class="control-label col-md-4 derecha">Cartera</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione Cartera"></i>
                  <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" placeholder="Seleccione Cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('dia_de_corte').valid && Formulario.get('dia_de_corte').touched}">
            <label class="control-label col-md-4 derecha">Día de Corte</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('dia_de_corte').valid && Formulario.get('dia_de_corte').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('dia_de_corte').valid && Formulario.get('dia_de_corte').touched ) }" data-original-title="Seleccione Día de Corte"></i>
                  <select name="dia_de_corte" formControlName="dia_de_corte" [(ngModel)]="objeto.dia_de_corte" placeholder="Seleccione Día de Corte" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
            <label class="control-label col-md-4 derecha">Estado</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                  <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  </p-dialog>

  <div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [contextMenu]="cm"
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
      [rows]="10" [paginator]="true"
      [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      scrollable="true" scrollWidth="100%">
        <p-column [sortable]="true" field="id" header="ID" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="tipo_cartera" header="Tipo de Cartera" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="proveedor" header="Proveedor" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="dia_de_corte" header="Día de Corte" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
    </p-dataTable>
  </div>
  </div>
  <div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
  </div>

  <pre>
  {{ form.value | json }}
  </pre>
