<h2>Agregar Criterios de Evaluación</h2>
<p-dataTable [value]="agr_crit_eval" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="prioridad" header="Prioridad"></p-column>
    <p-column field="nombre" header="Nombre"></p-column>
    <p-column field="peso" header="Peso"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
