<h2>Agregar Relación Atributo - Tipo de Error</h2>
<p-dataTable [value]="agr_rel_atribu_tipoe" [rows]="10" [paginator]="true">
    <p-column field="fecha" header="Fecha"></p-column>
    <p-column field="tipo_de_error" header="Tipo de Error"></p-column>
    <p-column field="atributos" header="Atributos"></p-column>
    <p-column field="descripcion" header="Descripción"></p-column>
    <p-column field="estado" header="Estado"></p-column>
</p-dataTable>
