<h2>Condición</h2>
<!--<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}"></p-growl>-->
<p-dialog
      header="Condición"
      styleClass="tipoB"
      [(visible)]="display_modal"
      [responsive]="true"
      [modal]="true" (onHide)="changeAccion()" [style]="{'margin-top':'30px'}">
  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate" #form>
        <input type="hidden" name="id" [(ngModel)]="objeto.id" formControlName="id" id="id">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('fecha').valid && Formulario.get('fecha').touched}">
          <label class="control-label col-md-5 derecha">Fecha</label>
            <div class="col-md-4">
              <div [ngClass]="{'input-icon top': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('fecha').valid && Formulario.get('fecha').touched ) }" data-original-title="Fecha"></i>
                <p-calendar formControlName='fecha' [(ngModel)]="objeto.fecha" name='fecha' dateFormat="yy-mm-dd" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched}">
            <label class="control-label col-md-5 derecha">Tipo de Cartera</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('tipo_de_cartera').valid && Formulario.get('tipo_de_cartera').touched ) }" data-original-title="Seleccione tipo_de_cartera"></i>
                  <select name="tipo_de_cartera" formControlName="tipo_de_cartera" [(ngModel)]="objeto.tipo_de_cartera" placeholder="Seleccione tipo de cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('condicion').valid && Formulario.get('condicion').touched}">
            <label class="control-label col-md-5 derecha">Condición</label>
            <div class="col-md-6">
              <div [ngClass]="{'input-icon right': (!Formulario.get('condicion').valid && Formulario.get('condicion').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('condicion').valid && Formulario.get('condicion').touched ) }" data-original-title="Seleccione condición"></i>
                  <select name="condicion" formControlName="condicion" [(ngModel)]="objeto.condicion" placeholder="Seleccione condición" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('empresa').valid && Formulario.get('empresa').touched}">
            <label class="control-label col-md-5 derecha">Antiguedad en Empresa</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('empresa').valid && Formulario.get('empresa').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('empresa').valid && Formulario.get('empresa').touched ) }" data-original-title="Seleccione empresa"></i>
                  <select name="empresa" formControlName="empresa" [(ngModel)]="objeto.empresa" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('cartera').valid && Formulario.get('cartera').touched}">
            <label class="control-label col-md-5 derecha">Antiguedad en Cartera</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('cartera').valid && Formulario.get('cartera').touched ) }" data-original-title="Seleccione cartera"></i>
                  <select name="cartera" formControlName="cartera" [(ngModel)]="objeto.cartera" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nro_de_evaluaciones').valid && Formulario.get('nro_de_evaluaciones').touched}">
            <label class="control-label col-md-5 derecha">N° de Evaluaciones</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('nro_de_evaluaciones').valid && Formulario.get('nro_de_evaluaciones').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nro_de_evaluaciones').valid && Formulario.get('nro_de_evaluaciones').touched ) }" data-original-title="Seleccione nro_de_evaluaciones"></i>
                  <select name="nro_de_evaluaciones" formControlName="nro_de_evaluaciones" [(ngModel)]="objeto.nro_de_evaluaciones" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('nro_de_audios').valid && Formulario.get('nro_de_audios').touched}">
            <label class="control-label col-md-5 derecha">N° de Audios</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('nro_de_audios').valid && Formulario.get('nro_de_audios').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('nro_de_audios').valid && Formulario.get('nro_de_audios').touched ) }" data-original-title="Seleccione nro_de_audios"></i>
                  <select name="nro_de_audios" formControlName="nro_de_audios" [(ngModel)]="objeto.nro_de_audios" placeholder="Seleccione nro_de_audios" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('intervalo_de_dias').valid && Formulario.get('intervalo_de_dias').touched}">
            <label class="control-label col-md-5 derecha">Intervalo de días</label>
            <div class="col-md-5">
              <div [ngClass]="{'input-icon right': (!Formulario.get('intervalo_de_dias').valid && Formulario.get('intervalo_de_dias').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('intervalo_de_dias').valid && Formulario.get('intervalo_de_dias').touched ) }" data-original-title="Seleccione intervalo_de_dias"></i>
                  <select name="intervalo_de_dias" formControlName="intervalo_de_dias" [(ngModel)]="objeto.intervalo_de_dias" placeholder="Seleccione intervalo_de_dias" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('estado').valid && Formulario.get('estado').touched}">
            <label class="control-label col-md-5 derecha">Estado</label>
            <div class="col-md-3">
              <div [ngClass]="{'input-icon right': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }">
                <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('estado').valid && Formulario.get('estado').touched ) }" data-original-title="Seleccione el estado"></i>
                  <select name="estado" formControlName="estado" [(ngModel)]="objeto.estado" placeholder="Seleccione estado" class="form-control">
                  <option [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  </p-dialog>

  <div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
      [contextMenu]="cm"
      [value]="Tabla"
      selectionMode="single"
      (onRowClick)="Edit($event)"
      (onRowDblclick)="Edit($event)" [(selection)]="selectedRecord" resizableColumns="true"
      [rows]="10" [paginator]="true"
      [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      scrollable="true" scrollWidth="100%">
        <p-column [sortable]="true" field="fecha" header="Fecha" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="tipo_de_cartera" header="Tipo de Cartera" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="condicion" header="Condición" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="empresa" header="Empresa" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="cartera" header="Cartera" [style]="{'width':'70px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="nro_de_evaluaciones" header="N° de Evaluaciones" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="nro_de_audios" header="N° de Audios" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="intervalo_de_dias" header="Intervalo de días" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
        <p-column [sortable]="true" field="estado" header="Estado" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
    </p-dataTable>
  </div>
  </div>
  <div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!Tabla.length>0"></button>
    </div>
  </div>
  </div>

  <pre>
  {{ form.value | json }}
  </pre>
