<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="heading">
            <h3 class="uppercase">Menú</h3>
        </li>
        <li class="nav-item" routerLinkActive="open" *ngFor="let item of menuEle">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i [class]="item.imagen"></i>
            <span class="title">{{ item.contenedor }}</span>
            <span class="arrow {{ item.open }}"></span>
          </a>

          <!-- <ul class="sub-menu" style="display: block;"> -->
          <ul class="sub-menu" routerLinkActive #act="routerLinkActive" [ngStyle]="{'display': act.isActive ? 'block' : 'none'}">
            <li class="nav-item " routerLinkActive="open" *ngFor="let ele of item.elementos">
              <a [routerLink]="[ele.item_url]" class="nav-link ">
                <i [class]="ele.item_imagen"></i>
                <span class="title">{{ ele.item_nombre }}</span>
              </a>
            </li>
          </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
