<h2 class="titulo">Relación Tipo de Contacto - Resultado</h2>

<p-growl [(value)]="msjs" [style]="{'margin-top': '53px'}" sticky="sticky"></p-growl>

<p-dialog header="Relación Tipo de Contacto - Resultado"
      [(visible)]="display_modal"
      [width]="650"
      [responsive]="true"
      [modal]="true"
      (onHide)="changeAccion()"
      [style]="{'margin-top':'30px'}">

  <div class="row top-30">
    <div class="col-md-12">
      <form [formGroup]="Formulario" novalidate="novalidate">
        <input type="hidden" name="id" formControlName="id" [(ngModel)]="objeto.id">
      <div class="row">
        <div class="col-md-12">

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_resultado').valid && Formulario.get('id_resultado').touched}">
              <label class="control-label col-md-3 derecha">Resultado</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('id_resultado').valid && Formulario.get('id_resultado').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_resultado').valid && Formulario.get('id_resultado').touched ) }" data-original-title="Escriba el Nombre"></i>
                  <select class="form-control" id="id_resultado" [(ngModel)]="objeto.id_resultado" formControlName="id_resultado" name=id_resultado>
                     <option
                        *ngFor="let item of resultados"
                        [value]="item.id">{{item.resultado}}</option>
                  </select>
                </div>
              </div>
             </div>

            <div class="form-group row" [ngClass]="{'has-error': !Formulario.get('id_tipo_contacto').valid && Formulario.get('id_tipo_contacto').touched}">
              <label class="control-label col-md-3 derecha">Tipo de Contacto</label>
              <div class="col-md-9">
                <div [ngClass]="{'input-icon right': (!Formulario.get('id_tipo_contacto').valid && Formulario.get('id_tipo_contacto').touched ) }">
                  <i [ngClass]="{'fa fa-warning tooltips': (!Formulario.get('id_tipo_contacto').valid && Formulario.get('id_tipo_contacto').touched ) }" data-original-title="Escriba el Nombre"></i>
                  <select class="form-control" [(ngModel)]="objeto.id_tipo_contacto" formControlName="id_tipo_contacto" name=id_tipo_contacto>
                     <option
                        *ngFor="let item of tipos_contactos"
                        [value]="item.id">{{item.tipo_contacto}}</option>
                  </select>
                </div>
              </div>
             </div>



        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right">
            <!-- <button type="submit" class="btn red-sunglo" ></button> -->

            <button type="button" *ngIf="accion == 'crear'"
                    pButton icon="fa-plus"
                    class="btn red-sunglo"
                    style="float:right" (click)="Crear()" label="Crear" [disabled]="!Formulario.valid"></button>

            <button type="button" *ngIf="accion == 'editar'"
                    pButton icon="fa-pencil"
                    class="btn red-sunglo"
                    style="float:right" (click)="Editar()" label="Editar" [disabled]="!Formulario.valid"></button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</p-dialog>
<!-- <div class="row">
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="cartera" class="col-sm-3 col-form-label">Cartera</label>
      <div class="col-sm-9">
        <select name="cartera" id="cartera" class="form-control"></select>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group row">
      <label for="id_tipo_cartera" class="col-sm-5 col-form-label">Tipo de Cartera</label>
      <div class="col-sm-7">
        <select name="id_tipo_cartera" id="id_tipo_cartera" class="form-control"></select>
      </div>
    </div>
  </div>5
  <div class="col-sm-3">
    <div class="form-group row">
      <label for="estado" class="col-sm-3 col-form-label">Estado</label>
      <div class="col-sm-9">
        <select name="estado" id="estado" class="form-control"></select>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <p-dataTable #dt
        [value]="Tabla"
        selectionMode="single"
        (onRowClick)="Edit($event)"
        (onRowDblclick)="Edit($event)"
        [(selection)]="selectedRecord"
        resizableColumns="true"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="3"
        [rowsPerPageOptions]="[5,10,20]"
        scrollable="true"
        scrollWidth="100%">
         <p-column field="id" header="ID" [style]="{'width':'30px', 'text-align':'center'}"></p-column>
         <p-column field="resultado" header="Resultado" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
         <p-column field="tipo_contacto" header="Tipo de Contacto" [style]="{'width':'120px', 'text-align':'center'}"></p-column>
         <p-column field="estado" header="Estado" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
		</p-dataTable>
  </div>
</div>

<div class="row top-30">
  <div class="col-sm-6">
    <div>
      <button pButton type="button" icon="fa-plus" iconPos="left" class="btn red-sunglo" (click)="crearModal()"></button>
      <button pButton type="button" icon="fa-pencil" iconPos="left" class="btn red-sunglo" [disabled]="!can_edit" (click)="editarModal(dt)"></button>
      <button pButton type="button" icon="fa-file-excel-o" iconPos="left" class="btn green-jungle" (click)="generarCSV(dt)" label="Generar" [disabled]="!csv"></button>
      <button pButton type="button" icon="fa-refresh" iconPos="left" class="btn yellow-soft" (click)="get()"></button>
    </div>
  </div>
</div>
